grant codebase "file:customSecurityManager/-",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "file:group/-",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant {
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

