import org.apache.river.phoenix.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.TcpServerEndpoint;

org.apache.river.phoenix {

    registryExporter = new RegistrySunExporter();
    private factory = new AccessILFactory();
    activatorExporter =
	new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
			      new BasicILFactory());
    systemExporter =
	new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
			      new SystemAccessILFactory(null, null));
    monitorExporter = 
        new BasicJeriExporter(TcpServerEndpoint.getInstance(0), factory);
    instantiatorExporter =
        new BasicJeriExporter(TcpServerEndpoint.getInstance(0), factory);

    persistenceDirectory = "log";

    groupOptions = new String[]{
	"-Djsk.home=${jsk.home}"
    };

}
