import com.sun.jini.phoenix.*;

import net.jini.constraint.*;
import net.jini.core.constraint.*;
import net.jini.jeri.*;
import net.jini.jeri.kerberos.*;
import net.jini.jeri.security.*;
import net.jini.security.*;

import javax.security.auth.login.LoginContext;
import javax.security.auth.kerberos.KerberosPrincipal;

principal {
    /*
     * JAAS principals
     */
    private static phoenix = new KerberosPrincipal("${phoenix}");
} // principal

com.sun.jini.phoenix {
    /*
     * JAAS login context
     */
    loginContext = new LoginContext("com.sun.jini.Phoenix");

    /**
     * Phoenix config entries
     */
    private kerberosPort = 2000; // pick one, cannot be 1098
    private daemonEndpoint = KerberosServerEndpoint.getInstance(kerberosPort);
    private integrity = new BasicMethodConstraints(
        new InvocationConstraints(
	    Integrity.YES, 
	    null
	));

    systemExporter = new BasicJeriExporter(
	daemonEndpoint,
        new SystemAccessProxyTrustILFactory(integrity),
        false, 
	true,
        PhoenixConstants.ACTIVATION_SYSTEM_UUID);
    activatorExporter = new BasicJeriExporter(
	daemonEndpoint,
        new ProxyTrustILFactory(integrity, null),
        false, 
	true,
        PhoenixConstants.ACTIVATOR_UUID);
    monitorExporter = new BasicJeriExporter(
	daemonEndpoint,
        new ProxyTrustILFactory(integrity, MonitorPermission.class));
    registryExporter = new RegistrySunExporter();
    instantiatorPreparer = new BasicProxyPreparer(
        true,
        new BasicMethodConstraints(
            new InvocationConstraints(
                new InvocationConstraint[] {
                    Integrity.YES,
                    ClientAuthentication.YES,
                    ServerAuthentication.YES,
                    new ServerMinPrincipal(principal.phoenix)
                },
                null
        )),
        null);

    //groupTimeout = 1200000;
    //groupOptions = new String[] {
    //    "-Djava.security.properties=/vob/qa/configs/jeri/phoenix/debug-security.props"
    //    ,
    //    "-Djava.security.debug=access,failure"
    //};

    /**
     * Group config entries
     */
    private groupEndpoint = KerberosServerEndpoint.getInstance(0);

    instantiatorExporter = new BasicJeriExporter(
	groupEndpoint,
        new ProxyTrustILFactory(
            integrity, 
	    InstantiatorPermission.class
	));
    systemPreparer = instantiatorPreparer;
    monitorPreparer = instantiatorPreparer;
    inheritGroupSubject = true;
} // com.sun.jini.phoenix
