import java.rmi.activation.ActivationID;
import net.jini.core.discovery.LookupLocator;
import net.jini.security.BasicProxyPreparer;
import net.jini.jrmp.JrmpExporter;
import net.jini.discovery.ConstrainableLookupLocator;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.constraint.BasicMethodConstraints.MethodDesc;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import org.apache.river.discovery.MulticastTimeToLive;

multicast {
    private ttl = 1;
}

org.apache.river.outrigger {
    locatorConstraints = net.jini.discovery.LookupDiscovery.discoveryConstraints;
}

net.jini.lookup.JoinManager {
    registrarPreparer = new BasicProxyPreparer();
    registrationPreparer = new BasicProxyPreparer();
    serviceLeasePreparer = new BasicProxyPreparer();
}

net.jini.discovery.LookupDiscovery {
    registrarPreparer = new BasicProxyPreparer();
    discoveryConstraints = new BasicMethodConstraints(
        new MethodDesc[] {
            new MethodDesc(new InvocationConstraints(
                new InvocationConstraint[] {
                    new MulticastTimeToLive(multicast.ttl)
                },
                null
            ))
        }
    );
}

net.jini.discovery.LookupLocatorDiscovery {
    registrarPreparer = new BasicProxyPreparer();
}

exporter {
    name = "org.apache.river.outrigger.serverExporter";
    activatableExporter = new JrmpExporter((ActivationID) $data, 0);
    transientExporter = new JrmpExporter();
    persistentExporter = new JrmpExporter();
}

