import net.jini.jrmp.JrmpExporter;
import net.jini.security.BasicProxyPreparer;
import java.rmi.activation.ActivationID;
import net.jini.discovery.ConstrainableLookupLocator;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.constraint.BasicMethodConstraints.MethodDesc;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import org.apache.river.discovery.MulticastTimeToLive;

multicast {
    private ttl = 1;
}

/* Items required by the test harness framework:
 * 
 * - special configuration item used by the test harness
 *   framework to dynamically generate unique directory paths
 *   for the service's persistence directory.
 */
/* Items required by the service */
lookupSimulator {
    locatorConstraints = discoveryConstraints;

    discoveryConstraints = new BasicMethodConstraints(
        new MethodDesc[] {
            new MethodDesc(new InvocationConstraints(
                new InvocationConstraint[] {
                    new MulticastTimeToLive(multicast.ttl)
                },
                null
            ))
        }
    );

//    loginContext = foo; //can't define this as null
    activationIdPreparer = new BasicProxyPreparer();
    activationSystemPreparer = new BasicProxyPreparer();
}

exporter {
    name = "lookupSimulator.serverExporter";
    activatableExporter = new JrmpExporter((ActivationID) $data, 0);
    persistentExporter = new JrmpExporter();
    transientExporter = persistentExporter;
}
