import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.http.HttpServerEndpoint;
        
test {
    spaceLoginContext = null; 
    testerTransactionManagerExporter = 
	new BasicJeriExporter(HttpServerEndpoint.getInstance(0), 
                              new BasicILFactory());
}

org.apache.river.test.impl.outrigger.matching.BlockingTest {
    matchTimeout="100000";
}
