import com.sun.jini.discovery.DiscoveryProtocolVersion;
import java.net.InetAddress;
import java.net.NetworkInterface;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.constraint.BasicMethodConstraints.MethodDesc;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;

net.jini.discovery.LookupDiscovery {
    discoveryConstraints = new BasicMethodConstraints(
        new MethodDesc[] {            
            new MethodDesc("multicast*",
                new InvocationConstraints(
                    DiscoveryProtocolVersion.TWO, null                        
                )
            )    
        }
    );
    multicastRequestHost = "testClient";
}