import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.SharedActivatableServiceDescriptor;
import com.sun.jini.start.SharedActivationGroupDescriptor;

com.sun.jini.start {

    private static policy = "${policy}";
    private static libDl = "${lib-dl}";
    private static toolClasspath = "${toolClassPath}";
    private static reggieClasses = "${reggieClasses}";
    private static port = "9696";
    private static host = "localhost";
    private static reggieConfigFile = "${reggieConfig}";
    
    // HTTPD Service
    private static httpdCodebase = "";
    private static httpdPolicy = policy;
    private static httpdClasspath = toolClasspath;
    private static httpdImpl = "com.sun.jini.tool.ClassServer";
    private static httpd = 
        new NonActivatableServiceDescriptor(
            httpdCodebase, httpdPolicy, httpdClasspath, httpdImpl,
            new String[]{"-port", port, "-dir", libDl, "-verbose"}
        );
        
            
    // Reggie
    private static reggieCodebase = "http://" + host + ":" + port 
	+ "/reggie-dl.jar http://" + host + ":" + port + "/jsk-dl.jar";
    private static reggiePolicy = policy;
    private static reggieClasspath = reggieClasses;
    private static reggieImpl = "com.sun.jini.reggie.TransientRegistrarImpl";
    private static reggieConfig = reggieConfigFile;
    private static reggie = 
        new NonActivatableServiceDescriptor(
            reggieCodebase, reggiePolicy, reggieClasspath, reggieImpl,
            new String[]{reggieConfig}
        );
                
        
    static serviceDescriptors = new ServiceDescriptor[] {
        httpd,
        reggie,
    };
}