import com.sun.jini.phoenix.*;

com.sun.jini.phoenix {

    registryExporter = new RegistrySunExporter();
    activatorExporter = new ActivatorSunJrmpExporter();
    systemExporter = new SystemAccessExporter();
    monitorExporter = new MonitorAccessExporter();
    instantiatorExporter = new InstantiatorAccessExporter();
    persistenceDirectory = "log";

}
