grant codebase "http://*:8087/qa1-loader-pref.jar",
{
    permission net.jini.loader.DownloadPermission "permit";
};

grant codebase "jrt:/java.security.jgss",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/java.smartcardio",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/java.xml.crypto",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.cryptoki",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.ec",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.mscapi",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.localedata",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.security.auth",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.security.jgss",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant {
    permission java.security.AllPermission "<all permissions>", "<all actions>";
    permission java.io.FilePermission ".\\-", "write,delete";
    permission java.io.FilePermission "<<ALL FILES>>", "execute";
    permission java.io.FilePermission "<<ALL FILES>>", "read";
    permission java.io.FilePermission "c:\\", "read";
    permission java.io.FilePermission "c:\\-", "read";
    permission java.io.FilePermission "c:\\temp", "write,delete";
    permission java.io.FilePermission "c:\\temp\\-", "write,delete";
    permission java.io.FilePermission "c:\\windows\\temp", "write,delete";
    permission java.io.FilePermission "c:\\windows\\temp\\-", "write,delete";
    permission java.io.FilePermission "d:\\", "read";
    permission java.io.FilePermission "d:\\-", "read";
    permission java.io.FilePermission "d:\\temp", "write,delete";
    permission java.io.FilePermission "d:\\temp\\-", "write,delete";
    permission java.io.FilePermission "d:\\windows\\temp", "write,delete";
    permission java.io.FilePermission "d:\\windows\\temp\\-", "write,delete";
};

