grant codebase "file:${java.class.path}" {
  permission java.security.AllPermission;
};

grant codebase "file:${jsk.home}/lib/jsk-lib.jar" {
  permission java.security.AllPermission;
};

grant {
    permission org.apache.river.phoenix.ExecOptionPermission "-Djava.security.manager=default";
    permission org.apache.river.phoenix.ExecOptionPermission "-Djava.security.policy=*";
};
