grant codebase "file:/C:/Users/peter/Documents/GitHub/JGDMS/JGDMS/tools/policy-condenser/target/policy-condenser-3.1.1-SNAPSHOT.jar;C:/Users/peter/Documents/GitHub/JGDMS/JGDMS/dist/target/JGDMS-3.1.1-SNAPSHOT/lib/jgdms-collections-3.1.1-SNAPSHOT.jar;C:/Users/peter/Documents/GitHub/JGDMS/JGDMS/dist/target/JGDMS-3.1.1-SNAPSHOT/lib/jgdms-platform-3.1.1-SNAPSHOT.jar",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant {
    permission org.apache.river.phoenix.ExecOptionPermission "-Djava.security.manager=default";
    permission org.apache.river.phoenix.ExecOptionPermission "-Djava.security.policy=*";
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

