grant principal org.apache.river.api.security.UnresolvedPrincipal "${test}",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Tester",
{
    permission net.jini.security.AccessPermission "*";
};

grant {
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

