import org.apache.river.start.ServiceDescriptor;
import org.apache.river.test.impl.start.ServiceStarterCreateBadDesc;
import javax.security.auth.login.LoginContext;


org.apache.river.start {
    /*
     * JAAS login and principals
     */
    loginContext = new LoginContext("org.apache.river.Test");

    static serviceDescriptors = new ServiceDescriptor[] {
        new ServiceStarterCreateBadDesc.MyBogusServiceDescriptor(),
        new ServiceStarterCreateBadDesc.MyBogusServiceDescriptor2(),
        null
    };
}
