import org.apache.river.start.ServiceDescriptor;
import org.apache.river.test.impl.start.ServiceStarterCreateBadDesc;


org.apache.river.start {

    static serviceDescriptors = new ServiceDescriptor[] {
        new ServiceStarterCreateBadDesc.MyBogusServiceDescriptor(),
        new ServiceStarterCreateBadDesc.MyBogusServiceDescriptor2(),
        null
    };
}
