// a JERI configuration
import com.sun.jini.phoenix.*;
import net.jini.jeri.*;
import net.jini.jeri.http.*;

com.sun.jini.phoenix {
	registryExporter = new RegistrySunExporter();
	private jeriport = 2000; // pick one, cannot be 1098
	private serverendpoint = HttpServerEndpoint.getInstance(jeriport);
	private defaultendpoint = HttpServerEndpoint.getInstance(0);
	private factory = new BasicILFactory();
	activatorExporter = new BasicJeriExporter(serverendpoint, 
				     new BasicILFactory(),
                     	             false, true, PhoenixConstants.ACTIVATOR_UUID);
	systemExporter = new BasicJeriExporter(serverendpoint, new BasicILFactory(),
                     	          false, true, PhoenixConstants.ACTIVATION_SYSTEM_UUID);
	monitorExporter = new BasicJeriExporter(serverendpoint, factory, false, true);
	instantiatorExporter = new BasicJeriExporter(defaultendpoint, factory, false, true);
//	log = "/var/tmp/phoenixActlog"; generated dymanically by admin
        groupOptions = new String[] {
	    //"-Djava.security.properties=/vob/qa/configs/jeri/phoenix/debug-security.props"
	   //,
	   //"-Djava.security.debug=access,failure"
	};
}
