test {
}

com.sun.jini.test.spec.javaspace.conformance.lease {
    //this value is used instead of Lease.FOREVER 
    //value to avoid infinite lease times*/
    forever=600000;
}

com.sun.jini.test.spec.javaspace.conformance {
    //this value is used for checking read and take invocations
    checkTime="20000";
    //timeout2 must be greater than (timeout1 + instantTime)
    //it is recommended that timeout2 be greater than 
    //(timeout1 + 2*instantTime)*/
    timeout1="30000";
    timeout2="80000";
    //general round trip time expected to non-blocking operations.
    //should be set to checkTime / 2. *
    instantTime = "10000";
}
