import net.jini.security.BasicProxyPreparer;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.tcp.TcpServerEndpoint;

com.sun.jini.testservice {
	exporter= new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
}

preparer {
	proxyPreparer = new BasicProxyPreparer();
}
