import com.sun.jini.phoenix.*;
import javax.security.auth.login.LoginContext;
import net.jini.constraint.*;
import net.jini.constraint.BasicMethodConstraints.MethodDesc;
import net.jini.core.constraint.*;
import net.jini.jeri.*;
import net.jini.jeri.ssl.SslServerEndpoint;
import net.jini.security.*;

com.sun.jini.phoenix {

    registryExporter = new RegistrySunExporter();

    private sep = SslServerEndpoint.getInstance(0);

    private clientAuth =
	new InvocationConstraints(ClientAuthentication.YES, null);

    private ssConstraints = new BasicMethodConstraints(new MethodDesc[]{
			new MethodDesc(clientAuth)});

    systemExporter =
	new BasicJeriExporter(sep,
			      new SystemAccessProxyTrustILFactory(
							ssConstraints));

    monitorExporter =
	new BasicJeriExporter(sep,
			      new ProxyTrustILFactory(
				  new BasicMethodConstraints(clientAuth),
				  MonitorPermission.class));

    activatorExporter =
	new BasicJeriExporter(sep,
			      new ProxyTrustILFactory(
				  ssConstraints,
				  ActivatorPermission.class));

    instantiatorExporter =
	new BasicJeriExporter(sep,
			      new ProxyTrustILFactory(
				  new BasicMethodConstraints(clientAuth),
				  InstantiatorPermission.class));

    persistenceDirectory = "log";

    loginContext = new LoginContext("server");

    groupOptions = new String[]{
	"-Djsk.home=${jsk.home}",
	"-Dtest.src=${test.src}",
	"-Dtest.classes=${test.classes}",
	"-Djava.protocol.handler.pkgs=net.jini.url"
    };

}
