// a JRMP configuration with no access control
import org.apache.river.phoenix.*;
import net.jini.jrmp.JrmpExporter;
import java.rmi.activation.ActivationSystem;

org.apache.river.phoenix {
	private registryPort = ActivationSystem.SYSTEM_PORT;
	registryExporter = new RegistrySunExporter(registryPort);
	activatorExporter = new ActivatorSunJrmpExporter(registryPort);
	systemExporter = new SunJrmpExporter(4, registryPort);
	monitorExporter = new JrmpExporter(registryPort);
	//org.apache.river.phoenix.log = "log";
}
