/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

import org.apache.river.phoenix.*;
import javax.security.auth.login.LoginContext;
import net.jini.constraint.*;
import net.jini.constraint.BasicMethodConstraints.MethodDesc;
import net.jini.core.constraint.*;
import net.jini.jeri.*;
import net.jini.jeri.ssl.SslServerEndpoint;
import net.jini.security.*;

org.apache.river.phoenix {

    registryExporter = new RegistrySunExporter();

    private sep = SslServerEndpoint.getInstance(0);

    private clientAuth =
	new InvocationConstraints(ClientAuthentication.YES, null);

    private ssConstraints = new BasicMethodConstraints(new MethodDesc[]{
			new MethodDesc(clientAuth)});

    systemExporter =
	new BasicJeriExporter(sep,
			      new SystemAccessProxyTrustILFactory(
							ssConstraints));

    monitorExporter =
	new BasicJeriExporter(sep,
			      new ProxyTrustILFactory(
				  new BasicMethodConstraints(clientAuth),
				  MonitorPermission.class));

    activatorExporter =
	new BasicJeriExporter(sep,
			      new ProxyTrustILFactory(
				  ssConstraints,
				  ActivatorPermission.class));

    instantiatorExporter =
	new BasicJeriExporter(sep,
			      new ProxyTrustILFactory(
				  new BasicMethodConstraints(clientAuth),
				  InstantiatorPermission.class));

    persistenceDirectory = "log";

    loginContext = new LoginContext("server");

    groupOptions = new String[]{
	"-Djsk.home=${jsk.home}",
	"-Dtest.src=${test.src}",
	"-Dtest.classes=${test.classes}",
	"-Djava.protocol.handler.pkgs=net.jini.url"
    };

}
