/*
 * security policy used by activation groups
 */

grant codebase "file:${jsk.home}/lib/phoenix-group.jar" {
  permission java.security.AllPermission;
};

grant codebase "file:${jsk.home}/lib/jsk-lib.jar" {
  permission java.security.AllPermission;
};

grant {
  // test needs to communicate with the activation system
  permission java.net.SocketPermission "*:1024-", "connect,accept,listen";

  // allow remote objects to call monitor's inactive method
  permission org.apache.river.phoenix.MonitorPermission "inactiveObject";
};
