
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;

com.sun.jini.start {
    private static codebase = "" ; // "http://your_host:http_port/reggie-dl.jar"
        //+ " http://your_host:http_port/jsk-dl.jar";
    private static policy = "" ; // "config_dir/jsk-all.policy";
    private static classpath = "" ; // "install_dir/lib/reggie.jar";

    static serviceDescriptors = new ServiceDescriptor[] {
        new NonActivatableServiceDescriptor(
            codebase, policy, classpath,
            "com.sun.jini.reggie.TransientRegistrarImpl",
            $configuration, null, null )
    };
}

com.sun.jini.reggie {
    initialMemberGroups = new String[] { "your.group", "nonsecure.hello.example.jini.sun.com" };
}
