/* @summary Verify proper general functioning of LoaderSplitPolicyProvider
 */

grant {
        permission java.lang.RuntimePermission "defaultPolicyStatic";
};
