// Changed because an unprivileged domain was present on the
// stack that caused this test to fail.  The test creates an AccessControlContext.
grant {
    permission java.security.AllPermission; 
}; 

grant codeBase "file:${jtlib.tmp}/*" {
    permission java.security.AllPermission;
};


grant {
    permission java.util.PropertyPermission "test.*", "read,write";
    permission java.security.SecurityPermission "createAccessControlContext";
};
