/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* Security policy for activatable Kerberos server */

/* Grant all permissions to local JAR files */
grant codeBase "file:..${/}..${/}lib${/}*" {
    permission java.security.AllPermission;
};

grant codeBase "file:lib${/}*" {
    permission java.security.AllPermission;
};

/* Grant permissions to client principal */
grant principal 
    javax.security.auth.kerberos.KerberosPrincipal "${clientPrincipal}" 
{
    /* Call sayHello method */
    permission com.sun.jini.example.hello.ServerPermission "sayHello";
};

/* Grant permissions to phoenix principal */
grant principal 
    javax.security.auth.kerberos.KerberosPrincipal "${phoenixPrincipal}" 
{
    /* Get proxy verifier */
    permission com.sun.jini.phoenix.InstantiatorPermission "getProxyVerifier";

    /* Instantiate activatable server */
    permission com.sun.jini.phoenix.InstantiatorPermission "newInstance";
};

/* Grant permissions to reggie principal */
grant principal 
    javax.security.auth.kerberos.KerberosPrincipal "${reggiePrincipal}" 
{
    /* Allow reggie to call us back so join works */
    permission net.jini.security.AccessPermission "notify";
};

/* Grant permissions to all principals */
grant {
    /* Call getProxyVerifier method */
    permission com.sun.jini.example.hello.ServerPermission "getProxyVerifier";
};
