import net.jini.core.entry.Entry;
import net.jini.lookup.entry.Name;
import net.jini.lookup.entry.Comment;

com.sun.jini.outrigger{

	name = "Java Space (Outrigger)";
	
	initialLookupAttributes=new Entry[]{	new Name(name)};
	
	initialLookupGroups=new String []{
		"nonsecure.hello.example.jini.sun.com"
	};

	serverExporter= new net.jini.jrmp.JrmpExporter();
	
}

