/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* Security policy for non-secure Phoenix */

/* Grant the local JAR files all permissions */
grant codeBase "file:..${/}..${/}lib${/}*" {
    permission java.security.AllPermission;
};

grant codeBase "file:lib${/}*" {
    permission java.security.AllPermission;
};

/* Grant permissions to all */
grant {

    /* Permit group options */
    permission com.sun.jini.phoenix.ExecOptionPermission
      "-Djava.security.manager=";

    permission com.sun.jini.phoenix.ExecOptionPermission
      "-Djava.security.policy=config${/}activatable-server.policy";

    permission com.sun.jini.phoenix.ExecOptionPermission
      "-Djava.rmi.server.codebase=http://${serverHost}:8080/server-dl.jar http://${serverHost}:8080/jsk-dl.jar";

    permission com.sun.jini.phoenix.ExecOptionPermission
      "-Dconfig=config${/}activatable-jeri-server.config";

    permission com.sun.jini.phoenix.ExecOptionPermission
      "-DserverHost=${serverHost}";

    permission com.sun.jini.phoenix.ExecOptionPermission 
      "-classpath";

    permission com.sun.jini.phoenix.ExecOptionPermission 
      "lib${/}server-act.jar";

    permission com.sun.jini.phoenix.ExecOptionPermission 
    "-Djava.security.properties=config${/}dynamic-policy.security-properties";

    permission com.sun.jini.phoenix.ExecOptionPermission
      "-Djava.ext.dirs=../../lib-ext/";
};
