grant codebase "jrt:/org.openjsse",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${fiddler}",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${group}",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${mahalo}",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${mercury}",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${norm}",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${outrigger}",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${reggie}",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${test}",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Fiddler",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Mahalo",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Mercury",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Norm",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Outrigger",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Reggie",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Tester",
{
    permission net.jini.security.AccessPermission "*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=fiddler",
{
    permission net.jini.security.AccessPermission "multicastRequest";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=mahalo",
{
    permission net.jini.security.AccessPermission "multicastRequest";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=mercury",
{
    permission net.jini.security.AccessPermission "multicastRequest";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=norm",
{
    permission net.jini.security.AccessPermission "multicastRequest";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=outrigger",
{
    permission net.jini.security.AccessPermission "multicastRequest";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=reggie",
{
    permission net.jini.security.AccessPermission "multicastRequest";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=tester",
{
    permission net.jini.security.AccessPermission "multicastRequest";
};

grant {
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

