import org.apache.river.config.KeyStores;
import org.apache.river.discovery.DiscoveryProtocolVersion;
import org.apache.river.discovery.MulticastMaxPacketSize;
import org.apache.river.discovery.MulticastTimeToLive;
import org.apache.river.discovery.UnicastSocketTimeout;

import java.util.Collections;

import java.security.Permission;

import java.rmi.activation.ActivationID;

import javax.security.auth.login.LoginContext;

import net.jini.activation.ActivationExporter;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.constraint.BasicMethodConstraints.MethodDesc;
import net.jini.core.constraint.ClientAuthentication;
import net.jini.core.constraint.ClientMinPrincipal;
import net.jini.core.constraint.ConstraintAlternatives;
import net.jini.core.constraint.Integrity;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.ServerAuthentication;
import net.jini.core.constraint.ServerMinPrincipal;
import net.jini.core.discovery.LookupLocator;
import net.jini.discovery.ConstrainableLookupLocator;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.AtomicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.ProxyTrustILFactory;
import net.jini.jeri.ssl.SslServerEndpoint;
import net.jini.security.AccessPermission;
import net.jini.security.AuthenticationPermission;
import net.jini.security.BasicProxyPreparer;

multicast {
    private ttl = 1;
}

principal {
    /* 
     * JAAS principals
     */
    private static tester_keystore = KeyStores.getKeyStore(
	"file:${org.apache.river.qa.home}/harness/trust/tester.keystore",
	"pkcs12", "testerpw");
    private static norm_keystore = KeyStores.getKeyStore(
	"file:${org.apache.river.qa.home}/harness/trust/norm.keystore",
	"pkcs12", "normpw");
    private static phoenix_keystore = KeyStores.getKeyStore(
	"file:${org.apache.river.qa.home}/harness/trust/phoenix.keystore",
	"pkcs12", "phoenixpw");
    private static reggie_keystore = KeyStores.getKeyStore(
	"file:${org.apache.river.qa.home}/harness/trust/reggie.keystore",
	"pkcs12", "reggiepw");
    static tester = KeyStores.getX500Principal("tester", tester_keystore);
    static norm = KeyStores.getX500Principal("norm", norm_keystore);
    static phoenix = KeyStores.getX500Principal("phoenix", phoenix_keystore);
    static reggie = KeyStores.getX500Principal("reggie", reggie_keystore);

}

org.apache.river.norm {
    /*
     * Test or test harness specific entries
     */
    locatorConstraints = 
	net.jini.discovery.LookupDiscovery.discoveryConstraints;
    isolateSets = true;

    /* 
     * JAAS login context
     */
    loginContext = new LoginContext("org.apache.river.Norm");

    private static testerConstraints =
        new BasicMethodConstraints(
	    new InvocationConstraints(
                new InvocationConstraint[] {
                    Integrity.YES,
                    ServerAuthentication.YES,
                    new ServerMinPrincipal(principal.tester)
		},
                null
	));
    private static testerPermissions =
        new Permission[] {
            new AuthenticationPermission(
		Collections.singleton(principal.norm),
                Collections.singleton(principal.tester),
                "connect")
	};

    listenerPreparer = new BasicProxyPreparer(
	testerConstraints,
	testerPermissions);
    recoveredListenerPreparer = new BasicProxyPreparer(
	testerPermissions);

    /*
     * The IllegalLeaseTest attempts to hand a LeaseRenewalSet lease back to
     * norm to be sure that it is rejected. Therefore this preparer must
     * tolerate a lease whose server principal is norm.
     */
    leasePreparer = new BasicProxyPreparer(
	new BasicMethodConstraints(
	    new InvocationConstraints(
       	        new InvocationConstraint[] {
		    Integrity.YES,
		    ServerAuthentication.YES,
                    new ConstraintAlternatives(
                        new InvocationConstraint[] {
                            //Normal case: test provided leases
                            new ServerMinPrincipal(principal.tester),
                            //Exceptional case: IllegalLeaseTest, 
			    //attempting to add norm lease to the set
                            new ServerMinPrincipal(principal.norm)
			}
		    )
		},
	        null
	)),
	new Permission[] {
	    new AuthenticationPermission(
		Collections.singleton(principal.norm),
		Collections.singleton(principal.tester),
		"connect")
	    }
	);
    recoveredLeasePreparer = new BasicProxyPreparer(
	new Permission[] {
	    new AuthenticationPermission(
		Collections.singleton(principal.norm),
		Collections.singleton(principal.tester),
		"connect"),
	    new AuthenticationPermission(
		Collections.singleton(principal.tester),
		Collections.singleton(principal.tester),
		"connect")
	});

    /*
     * Values for talking to the lookup service 
     */
    private static reggieConstraints =
	new BasicMethodConstraints(
	    new InvocationConstraints(
		new InvocationConstraint[] {
		    Integrity.YES,
		    ServerAuthentication.YES,
		    new ServerMinPrincipal(principal.reggie) 
		},
		null
	));
    private static reggiePermissions =
        new Permission[] {
            new AuthenticationPermission(
		Collections.singleton(principal.norm),
                Collections.singleton(principal.reggie),
                "connect")
	};

    private reggiePreparer = new BasicProxyPreparer(
	reggieConstraints,
	reggiePermissions);
    locatorPreparer = reggiePreparer;
    recoveredlocatorPreparer = new BasicProxyPreparer(
	reggiePermissions);

    /*
     * Values for talking to the activation system
     */
    private static activationSystemConstraints =
	new BasicMethodConstraints(
	    new InvocationConstraints(
		new InvocationConstraint[] {
		    Integrity.YES,
		    ServerAuthentication.YES,
		    new ServerMinPrincipal(principal.phoenix) 
		},
		null
	));
    activationSystemPreparer = 
	new BasicProxyPreparer(
	    activationSystemConstraints, 
	    new Permission[] {
		new AuthenticationPermission(
		    Collections.singleton(principal.norm),
		    Collections.singleton(principal.phoenix),
		    "connect")
	    }
	);
    activationIdPreparer = new BasicProxyPreparer(
	activationSystemConstraints, 
	null);
} // org.apache.river.norm

net.jini.lookup.JoinManager {
    registrarPreparer    = org.apache.river.norm.reggiePreparer;
    registrationPreparer = org.apache.river.norm.reggiePreparer;
    serviceLeasePreparer = org.apache.river.norm.reggiePreparer;
}
                       
net.jini.discovery.LookupDiscovery {
    registrarPreparer    = org.apache.river.norm.reggiePreparer;
    discoveryConstraints = new BasicMethodConstraints(
        new MethodDesc[]{
            new MethodDesc("multicastRequest", new InvocationConstraints(
                new InvocationConstraint[]{
                    ClientAuthentication.YES,
                    Integrity.YES,
                    new ClientMinPrincipal(principal.norm),
                    DiscoveryProtocolVersion.TWO,
                    new MulticastMaxPacketSize(1024),
                    new MulticastTimeToLive(multicast.ttl),
                    new UnicastSocketTimeout(120000) // 2*60*1000
                },
                null
            )),
            new MethodDesc("multicastAnnouncement", new InvocationConstraints(
                new InvocationConstraint[]{
                    ServerAuthentication.YES,
                    Integrity.YES,
                    new ServerMinPrincipal(principal.reggie),
                    DiscoveryProtocolVersion.TWO,
                    new MulticastMaxPacketSize(1024),
                    new MulticastTimeToLive(multicast.ttl),
                    new UnicastSocketTimeout(120000) // 2*60*1000
                },
                null
            )),
            new MethodDesc("unicastDiscovery", new InvocationConstraints(
                new InvocationConstraint[]{
                    ServerAuthentication.YES,
                    Integrity.YES,
                    new ServerMinPrincipal(principal.reggie),
                    DiscoveryProtocolVersion.TWO,
                    new MulticastMaxPacketSize(1024),
                    new MulticastTimeToLive(multicast.ttl),
                    new UnicastSocketTimeout(120000) // 2*60*1000
                },
                null
            ))
        }
    );

} // net.jini.discovery.LookupDiscovery

net.jini.discovery.LookupLocatorDiscovery {
    registrarPreparer = org.apache.river.norm.reggiePreparer;
}

exporter {
    name = "org.apache.river.norm.serverExporter";
    persistentExporter = new BasicJeriExporter(
	SslServerEndpoint.getInstance(0),
        new AtomicILFactory(
            new BasicMethodConstraints(
                new InvocationConstraints(
		    new InvocationConstraint[] {
			Integrity.YES, 
			ClientAuthentication.YES
		    },
                    null
	    )),
            AccessPermission.class,
            org.apache.river.norm.proxy.NormServer.class
	)
    );
    transientExporter = persistentExporter;
    activatableExporter = new ActivationExporter(
	(ActivationID) $data, persistentExporter);
}
