About ${project.name}
---------------------

${project.description}

The prior static site docs can be viewed here: [Static Site](old-static-site/index.html)

[Introduction](doc/index.html) docs are also available.
