grant codebase "jrt:/java.security.jgss",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/java.smartcardio",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/java.xml.crypto",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.cryptoki",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.ec",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.mscapi",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.localedata",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.security.auth",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.security.jgss",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Fiddler",
{
    permission net.jini.security.AccessPermission "notify";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Mahalo",
{
    permission net.jini.security.AccessPermission "abort";
    permission net.jini.security.AccessPermission "commit";
    permission net.jini.security.AccessPermission "prepare";
    permission net.jini.security.AccessPermission "prepareAndCommit";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Mercury",
{
    permission net.jini.security.AccessPermission "notify";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Norm",
{
    permission net.jini.security.AccessPermission "cancel";
    permission net.jini.security.AccessPermission "cancelAll";
    permission net.jini.security.AccessPermission "notify";
    permission net.jini.security.AccessPermission "renew";
    permission net.jini.security.AccessPermission "renewAll";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Outrigger",
{
    permission net.jini.security.AccessPermission "abort";
    permission net.jini.security.AccessPermission "commit";
    permission net.jini.security.AccessPermission "getState";
    permission net.jini.security.AccessPermission "join";
    permission net.jini.security.AccessPermission "notify";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Reggie",
{
    permission net.jini.security.AccessPermission "notify";
};

grant {
    permission java.security.AllPermission "<all permissions>", "<all actions>";
    permission java.io.FilePermission ".\\-", "write,delete";
    permission java.io.FilePermission "<<ALL FILES>>", "execute";
    permission java.io.FilePermission "C:\\Users\\peter\\AppData\\Local\\Temp\\", "write,delete";
    permission java.io.FilePermission "c:\\", "read";
    permission java.io.FilePermission "c:\\-", "read";
    permission java.io.FilePermission "c:\\temp", "write,delete";
    permission java.io.FilePermission "c:\\temp\\-", "write,delete";
    permission java.io.FilePermission "c:\\windows\\temp", "write,delete";
    permission java.io.FilePermission "c:\\windows\\temp\\-", "write,delete";
    permission java.io.FilePermission "d:\\", "read";
    permission java.io.FilePermission "d:\\-", "read";
    permission java.io.FilePermission "d:\\temp", "write,delete";
    permission java.io.FilePermission "d:\\temp\\-", "write,delete";
    permission java.io.FilePermission "d:\\windows\\temp", "write,delete";
    permission java.io.FilePermission "d:\\windows\\temp\\-", "write,delete";
};

