/* @summary Verify basic functionality of AggregatPolicyProvider.getContext()
 */

grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}jsk-platform.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}jsk-lib.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}jini-ext.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.qa.harness.harnessJar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.qa.home}${/}lib${/}qa1-jini-latest.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.qa.home}${/}lib${/}harness.jar" {
    permission java.security.AllPermission "", "";
};

//grant codeBase "file:${java.home}/lib/ext/*" {
//    permission java.security.AllPermission;
//};

// For SecurityManager used from command line
grant codeBase "file:${org.apache.river.qa.home}${/}lib${/}qa1-start-tests.jar" {
    permission java.io.FilePermission "-", "read";
    permission java.lang.RuntimePermission "getProtectionDomain";
};

grant {
    permission java.io.FilePermission "${org.apache.river.qa.home}${/}lib${/}*", "read";
    permission java.io.FilePermission "${org.apache.river.test.home}${/}lib${/}*", "read";
    permission java.lang.RuntimePermission "accessClassInPackage.*";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.util.PropertyPermission "*", "read,write";
    permission java.security.SecurityPermission "getProperty.*";
    permission java.security.SecurityPermission "setPolicy";
    permission java.security.SecurityPermission "getPolicy";
    permission java.net.SocketPermission "*", "listen,resolve";
};

grant codeBase "file:${org.apache.river.test.home}${/}lib${/}qa1-start-cb1.jar" {
    permission java.lang.RuntimePermission "A";
    permission java.lang.RuntimePermission "B";
};

grant codeBase "file:${org.apache.river.test.home}${/}lib${/}qa1-start-cb2.jar" {
    permission java.lang.RuntimePermission "A";
    permission java.lang.RuntimePermission "C";
};

grant codeBase "file:${org.apache.river.test.home}${/}lib${/}qa1-start-cb3.jar" {
    permission java.security.AllPermission;
};
