/* @summary Verify basic functionality of AggregatPolicyProvider.getContext()
 */

grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}*" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib-dl${/}*" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.qa.harness.harnessJar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.qa.home}${/}lib${/}qa1-jini-latest.jar" {
    permission java.security.AllPermission "", "";
};

grant codeBase "file:${{java.ext.dirs}}/*" {
        permission java.security.AllPermission;
};


// For SecurityManager used from command line
grant codeBase "file:${org.apache.river.qa.home}${/}lib${/}qa1-start-tests.jar" {
    //permission java.io.FilePermission "-", "read";
    permission java.lang.RuntimePermission "getProtectionDomain";
};

grant {
    permission java.io.FilePermission "${org.apache.river.qa.home}/-", "read";
    permission java.io.FilePermission "${org.apache.river.test.home}/-", "read";
    permission net.jini.security.GrantPermission
        "delim=' java.lang.RuntimePermission 'foo'";
    permission java.lang.RuntimePermission "A0";
    permission java.lang.RuntimePermission "accessClassInPackage.*";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "setSecurityManager";
    permission java.lang.RuntimePermission "getProtectionDomain";
    permission java.util.PropertyPermission
        "java.security.policy", "read,write";
    permission java.security.SecurityPermission "getProperty.*";
    permission java.security.SecurityPermission "setPolicy";
    permission java.security.SecurityPermission "getPolicy";
    permission java.security.SecurityPermission "createPolicy.JiniPolicy";
    permission java.util.PropertyPermission "*", "read";
    permission java.net.SocketPermission "*", "listen,resolve";
};

grant codeBase "file:${org.apache.river.jsk.home}/foo/*" {
    permission java.lang.RuntimePermission "B0";
};

grant codeBase "file:${org.apache.river.jsk.home}/foo/-" {
    permission java.lang.RuntimePermission "C0";
};

grant codeBase "file:${org.apache.river.jsk.home}/bar.jar" {
    permission java.lang.RuntimePermission "D0";
};
