grant {
    permission java.lang.RuntimePermission "A1";
    permission java.lang.RuntimePermission "B1";
    permission java.lang.RuntimePermission "C1";
    permission java.lang.RuntimePermission "D1";
};

