grant codeBase "file:${java.home}/lib/ext/*" {
    permission java.security.AllPermission; 
}; 

grant codeBase "file:${jtlib.tmp}/*" {
    permission java.security.AllPermission;
};

grant {
    permission java.util.PropertyPermission "test.src", "read";
    permission java.util.PropertyPermission "test.classes", "read";
    permission java.util.PropertyPermission "user.dir", "read";
    
    permission java.io.FilePermission "${test.src}", "read";
    permission java.io.FilePermission "${test.src}${/}-", "read";
    permission java.io.FilePermission "${test.src}${/}..${/}-", "read";
    permission java.io.FilePermission "${test.classes}", "read";
    permission java.io.FilePermission "${test.classes}${/}-", "read";
    permission java.io.FilePermission ".", "read";
    permission java.io.FilePermission ".${/}-", "read";

    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.RuntimePermission "setContextClassLoader";
};
