grant codebase "file:${jsk.home}${/}lib${/}${platform.jar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${jsk.home}${/}lib${/}${jsk-lib.jar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${jsk.home}${/}lib-dl${/}${jsk-dl.jar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${jsk.home}${/}lib${/}${classserver.jar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.qa.harness.harnessJar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.qa.harness.testJar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${qa.home}${/}lib${/}qa1-jini-latest.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${qa.home}${/}lib${/}harness.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/jdk.security.auth" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/jdk.crypto.cryptoki" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/java.smartcardio" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/java.xml.crypto" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/java.security.jgss" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/jdk.crypto.ec" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/jdk.crypto.mscapi" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/jdk.localedata" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/jdk.security.jgss" {
    permission java.security.AllPermission "", "";
};


grant codebase "file:${org.apache.river.test.home}${/}lib${/}qa1-securityDoPrivileged.jar" {
    permission java.security.SecurityPermission "createAccessControlContext";
    permission javax.security.auth.AuthPermission "modifyPrincipals";
};

grant codebase "file:${org.apache.river.test.home}${/}lib${/}qa1-securityUtil.jar" {
    permission java.security.SecurityPermission "getDomainCombiner";
    permission java.lang.RuntimePermission "DoPrivilegedTEST";
    permission java.lang.RuntimePermission "DoPrivilegedExceptionTEST";
};

grant codebase "file:${org.apache.river.test.home}${/}lib${/}qa1-securityUtil.jar",
      principal org.apache.river.test.spec.security.util.FakePrincipal "DoPrivilegedTest" {
    permission java.security.SecurityPermission "getDomainCombiner";
    permission java.lang.RuntimePermission "DoPrivilegedTEST1";
};

grant codebase "file:${org.apache.river.test.home}${/}lib${/}qa1-securityUtil.jar",
      principal org.apache.river.test.spec.security.util.FakePrincipal "DoPrivilegedExceptionTest" {
    permission java.security.SecurityPermission "getDomainCombiner";
    permission java.lang.RuntimePermission "DoPrivilegedExceptionTEST1";
};

grant {
    permission java.lang.RuntimePermission "accessClassInPackage.sun.security.util";
};