grant codebase "jrt:/java.security.jgss",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/java.smartcardio",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/java.xml.crypto",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.cryptoki",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.ec",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.mscapi",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.localedata",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.security.auth",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.security.jgss",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "DoPrivilegedExceptionTest",
{
    permission java.security.SecurityPermission "getDomainCombiner";
    permission java.lang.RuntimePermission "DoPrivilegedExceptionTEST1";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "DoPrivilegedTest",
{
    permission java.security.SecurityPermission "getDomainCombiner";
    permission java.lang.RuntimePermission "DoPrivilegedTEST1";
};

grant {
    permission javax.security.auth.AuthPermission "modifyPrincipals";
    permission java.security.SecurityPermission "createAccessControlContext";
    permission java.security.SecurityPermission "getDomainCombiner";
    permission java.lang.RuntimePermission "DoPrivilegedExceptionTEST";
    permission java.lang.RuntimePermission "DoPrivilegedTEST";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.security.util";
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

