grant codeBase "file:${java.home}${/}lib${/}ext${/}*" {
	permission java.security.AllPermission;
};

grant codeBase "file:${jtlib.tmp}/*" {
        permission java.security.AllPermission;
};

grant {
  // workaround RMIClassLoaderSpi not doing a doPrivileged to find spi resource
  permission java.io.FilePermission "${java.home}${/}lib${/}ext${/}-", "read";

  // test needs to export rmid and communicate with objects on arbitrary ports
  permission java.net.SocketPermission "*:1024-", "connect,accept,listen";
  permission java.net.SocketPermission "machineDoesNotExist", "connect,accept";

  permission java.io.FilePermission ".${/}cbArchive", "read";
  permission java.io.FilePermission ".${/}cbArchive${/}-", "read";
  permission java.io.FilePermission "..${/}..${/}test.props", "read";
  permission java.lang.RuntimePermission "createClassLoader";

  permission java.util.PropertyPermission "test.src", "read";
  permission java.util.PropertyPermission "test.classes", "read";
  permission java.util.PropertyPermission "test.class.path", "read";
  permission java.util.PropertyPermission "java.security.policy", "read";
  permission java.util.PropertyPermission "java.security.manager", "read";
  permission java.util.PropertyPermission "java.home", "read";
  permission java.util.PropertyPermission "java.util.logging.config.file", "write";

  permission java.io.FilePermission "<<ALL FILES>>", "execute";

  permission java.io.FilePermission "${test.src}${/}cbArchive", "read";
  permission java.io.FilePermission "${test.src}${/}cbArchive${/}-", "read";
  permission java.io.FilePermission "${test.src}${/}..${/}-", "read";

  permission java.lang.RuntimePermission "accessClassInPackage.sun.util.logging.resources";
};

