import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.test.impl.start.ServiceStarterCreateBadDesc;


com.sun.jini.start {

    static serviceDescriptors = new ServiceDescriptor[] {
        new ServiceStarterCreateBadDesc.MyBogusServiceDescriptor(),
        new ServiceStarterCreateBadDesc.MyBogusServiceDescriptor2(),
        null
    };
}
