import net.jini.discovery.ConstrainableLookupLocator;
import net.jini.core.discovery.LookupLocator;
import net.jini.id.UuidFactory;
import net.jini.security.BasicProxyPreparer;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jeri.BasicILFactory;
import java.rmi.activation.ActivationID;
import net.jini.activation.ActivationExporter;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.constraint.BasicMethodConstraints.MethodDesc;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import org.apache.river.discovery.MulticastTimeToLive;
import org.apache.river.test.impl.mercury.DelayedBasicJeriExporter;

multicast {
    private ttl = 1;
}

org.apache.river.mahalo {
    locatorConstraints = net.jini.discovery.LookupDiscovery.discoveryConstraints;
}

net.jini.lookup.JoinManager {
    registrarPreparer = new BasicProxyPreparer();
    registrationPreparer = new BasicProxyPreparer();
    serviceLeasePreparer = new BasicProxyPreparer();
}

net.jini.discovery.LookupDiscovery {
    registrarPreparer = new BasicProxyPreparer();
    discoveryConstraints = new BasicMethodConstraints(
        new MethodDesc[] {
            new MethodDesc(new InvocationConstraints(
                new InvocationConstraint[] {
                    new MulticastTimeToLive(multicast.ttl)
                },
                null
            ))
        }
    );
}

net.jini.discovery.LookupLocatorDiscovery {
    registrarPreparer = new BasicProxyPreparer();
}

exporter {
    private fixedUuid = UuidFactory.create(999L,999L);
    private fixedDelay = 60000L;
    name = "org.apache.river.mahalo.serverExporter";
    private defaultendpoint = TcpServerEndpoint.getInstance(9999);
    private defaultfactory = new BasicILFactory();
    activatableExporter = new ActivationExporter(
                        (ActivationID) $data,
                        new DelayedBasicJeriExporter(
			    defaultendpoint,
	                    defaultfactory,
			    false,
			    true,
			    fixedUuid,
			    fixedDelay));

    persistentExporter = 
	new DelayedBasicJeriExporter(
            defaultendpoint, defaultfactory, false, true, fixedUuid, fixedDelay);
    transientExporter = 
	new DelayedBasicJeriExporter(
            defaultendpoint, defaultfactory, false, true, fixedUuid, fixedDelay);
}


