grant codebase "file:/C:/Program%20Files/DirtyChai/jdk/lib/ext/*",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant {
    permission java.util.PropertyPermission "endpointType", "read";
    permission java.security.SecurityPermission "createAccessControlContext";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.net.spi.nameservice";
    permission java.security.AllPermission "<all permissions>", "<all actions>";
    permission java.net.SocketPermission "*", "connect,accept,resolve";
    permission java.net.SocketPermission "localhost:1024-", "listen,resolve";
};

