import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.tcp.TcpServerEndpoint;
        
test {
    spaceLoginContext = null; 
    testerTransactionManagerExporter = 
	new BasicJeriExporter(TcpServerEndpoint.getInstance(0), 
                              new BasicILFactory());
}

