// a JRMP configuration with no access control
import com.sun.jini.phoenix.*;
import net.jini.jrmp.JrmpExporter;
import java.rmi.activation.ActivationSystem;

com.sun.jini.phoenix {
	private registryPort = ActivationSystem.SYSTEM_PORT;
	registryExporter = new RegistrySunExporter(registryPort);
	activatorExporter = new ActivatorSunJrmpExporter(registryPort);
	systemExporter = new SunJrmpExporter(4, registryPort);
	monitorExporter = new JrmpExporter(registryPort);
	//com.sun.jini.phoenix.log = "log";
}
