/* @summary Verify that PolicyFileProvider correctly handles basic permission
 *          grants
 */

grant {
    permission java.lang.RuntimePermission "A1";
};

grant codeBase "file:${com.sun.jini.jsk.home}/foo/*" {
    permission java.lang.RuntimePermission "B1";
};

grant codeBase "file:${com.sun.jini.jsk.home}/foo/-" {
    permission java.lang.RuntimePermission "C1";
};

grant codeBase "file:${com.sun.jini.jsk.home}/bar.jar" {
    permission java.lang.RuntimePermission "D1";
};
