grant codebase "file:/C:/Program%20Files/DirtyChai/jdk/lib/ext/*",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant {
    permission java.util.PropertyPermission "test.classes", "read";
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.security.AllPermission "<all permissions>", "<all actions>";
    permission java.io.FilePermission ".", "read,write";
    permission java.net.SocketPermission "*:1024-", "connect,listen,resolve";
};

