grant codeBase "file:${java.home}/lib/ext/*" {
    permission java.security.AllPermission; 
}; 

grant codeBase "file:${jtlib.tmp}/*" {
    permission java.security.AllPermission;
};

grant {
    permission javax.security.auth.AuthPermission "doAsPrivileged";
    permission java.net.SocketPermission "*:1024-",
					 "connect,accept,listen";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.proxy";
};

grant principal javax.security.auth.x500.X500Principal "CN=bob" {
    permission javax.security.auth.AuthPermission "getSubject";
};
