test {
//    testvmargs = "\$\{testjvmargs\} -Djava.security.properties=${com.sun.jini.qa.home}${/}configs${/}jsse${/}tests${/}impl${/}mercury${/}debug-security.props";
}

net.jini.event.EventMailbox {
    policyfile="<url: harness/policy/defaultsecuremercury.policy>";
    //policyfile="${com.sun.jini.qa.home}/policy/sec-jeri-policy.mercury";
}

sharedGroup {
    policyfile="<url: harness/policy/defaultsecuresharedvm.policy>";
    //policyfile="${com.sun.jini.qa.home}/policy/sec-jeri-policy.sharedvm";
    //policyfile="=${com.sun.jini.jsk.home}/policy/policy.all";
}

sharedGroupImpl {
    policyfile="<url: harness/policy/defaultsecuregroup.policy>";
    //policyfile="${com.sun.jini.qa.home}/policy/sec-jeri-policy.group";
    //policyfile="=${com.sun.jini.jsk.home}/policy/policy.all";
}


