grant codebase "file:/C:/Users/peter/Documents/GitHub/JGDMS/JGDMS/tools/policy-condenser/target/policy-condenser-4.0.0-SNAPSHOT.jar;C:/Users/peter/Documents/GitHub/JGDMS/JGDMS/dist/target/JGDMS-4.0.0-SNAPSHOT/lib/jgdms-collections-4.0.0-SNAPSHOT.jar;C:/Users/peter/Documents/GitHub/JGDMS/JGDMS/dist/target/JGDMS-4.0.0-SNAPSHOT/lib/jgdms-platform-4.0.0-SNAPSHOT.jar",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant {
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

