grant codebase "file:/C:/Program%20Files/DirtyChai/jdk/lib/ext/*",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant {
    permission java.util.PropertyPermission "java.home", "read";
    permission java.util.PropertyPermission "java.security.manager", "read";
    permission java.util.PropertyPermission "java.security.policy", "read";
    permission java.util.PropertyPermission "test.classes", "read";
    permission java.util.PropertyPermission "test.rmi.exportType", "read";
    permission java.util.PropertyPermission "test.src", "read";
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.security.AllPermission "<all permissions>", "<all actions>";
    permission java.net.SocketPermission "*:1024-", "connect,listen,accept,resolve";
};

