import net.jini.security.BasicProxyPreparer;
import net.jini.jeri.http.HttpServerEndpoint;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.BasicILFactory;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.constraint.BasicMethodConstraints.MethodDesc;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import org.apache.river.discovery.MulticastTimeToLive;

multicast {
    private ttl = 1;
}

test {

    private ilfactory = new BasicILFactory();

/* reggie defaults */
    reggiePreparer = new BasicProxyPreparer(); 
    reggieAdminPreparer = new BasicProxyPreparer();
    reggieEventRegistrationPreparer = new BasicProxyPreparer();
    reggieServiceRegistrationPreparer = new BasicProxyPreparer();
    reggieServiceLeasePreparer = new BasicProxyPreparer();
    reggieEventLeasePreparer = new BasicProxyPreparer();
    reggieListenerExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0), ilfactory);


/* fiddler defaults */
    fiddlerPreparer = new BasicProxyPreparer();
    fiddlerRegistrationPreparer = new BasicProxyPreparer();
    fiddlerEventRegistrationPreparer = new BasicProxyPreparer();
    fiddlerListenerExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0), ilfactory);
    fiddlerLeasePreparer = new BasicProxyPreparer();
    fiddlerAdminPreparer = new BasicProxyPreparer();

/* norm defaults */
    normPreparer = new BasicProxyPreparer();
    normAdminPreparer = new BasicProxyPreparer();
    normRenewalSetPreparer = new BasicProxyPreparer();
    normEventRegistrationPreparer = new BasicProxyPreparer();
    normListenerExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0), ilfactory);
    normLeasePreparer = new BasicProxyPreparer();

/* mahalo defaults */
    mahaloPreparer = new BasicProxyPreparer();
    mahaloLeasePreparer = new BasicProxyPreparer();
    mahaloAdminPreparer = new BasicProxyPreparer();

/* outrigger defaults */
    outriggerPreparer = new BasicProxyPreparer();
    outriggerListenerExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0), ilfactory);
    outriggerLeasePreparer = new BasicProxyPreparer();
    outriggerAdminPreparer = new BasicProxyPreparer();
    outriggerEventRegistrationPreparer = new BasicProxyPreparer();

/* mercury defaults */
    mercuryPreparer = new BasicProxyPreparer();
    mercuryAdminPreparer = new BasicProxyPreparer();
    mercuryListenerPreparer = new BasicProxyPreparer();
    mercuryLeasePreparer = new BasicProxyPreparer();
    mercuryRegistrationPreparer = new BasicProxyPreparer();
    mercuryListenerExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0), ilfactory);

/* phoenix defaults */
    phoenixPreparer = new BasicProxyPreparer();

/* shared group defaults */
    groupPreparer = new BasicProxyPreparer();

/* transaction defaults ??? */
    transactionParticipantExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0), ilfactory);

/* test lease defaults */
    leaseExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0), ilfactory);

/* discovery constraints for generated locators */
    locatorConstraints = discoveryConstraints;

/* discovery constraints for discovery simulator */
    discoveryConstraints = new BasicMethodConstraints(
        new MethodDesc[] {
            new MethodDesc(new InvocationConstraints(
                new InvocationConstraint[] {
                    new MulticastTimeToLive(multicast.ttl)
                },
                null
            ))
        }
    );
} // test

net.jini.discovery.LookupDiscovery {
    registrarPreparer = new BasicProxyPreparer();
    discoveryConstraints = test.discoveryConstraints;
}

net.jini.discovery.LookupLocatorDiscovery {
    registrarPreparer = new BasicProxyPreparer();
}

net.jini.lookup.JoinManager {
    registrarPreparer = new BasicProxyPreparer();
}

net.jini.lookup.ServiceDiscoveryManager {
    proxyPreparer = new BasicProxyPreparer();
    eventLeasePreparer = new BasicProxyPreparer();
    eventListenerExporter = new BasicJeriExporter(
	HttpServerEndpoint.getInstance(0), test.ilfactory);
}
