import com.sun.jini.discovery.DiscoveryProtocolVersion;
import com.sun.jini.discovery.MulticastMaxPacketSize;
import com.sun.jini.discovery.MulticastTimeToLive;
import com.sun.jini.discovery.UnicastSocketTimeout;

import java.util.Collections;

import java.security.Permission;

import java.rmi.activation.ActivationID;

import javax.security.auth.kerberos.KerberosPrincipal;
import javax.security.auth.login.LoginContext;

import net.jini.activation.ActivationExporter;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.constraint.BasicMethodConstraints.MethodDesc;
import net.jini.core.constraint.ClientAuthentication;
import net.jini.core.constraint.Integrity;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.ServerAuthentication;
import net.jini.core.constraint.ServerMinPrincipal;
import net.jini.core.discovery.LookupLocator;
import net.jini.discovery.ConstrainableLookupLocator;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.kerberos.KerberosServerEndpoint;
import net.jini.jeri.ProxyTrustILFactory;
import net.jini.security.AccessPermission;
import net.jini.security.AuthenticationPermission;
import net.jini.security.BasicProxyPreparer;

multicast {
    private ttl = 1;
}

principal {
    /*
     * JAAS principals
     */
    private static norm = new KerberosPrincipal("${norm}");
    private static phoenix = new KerberosPrincipal("${phoenix}");
    private static reggie = new KerberosPrincipal("${reggie}");
    private static tester = new KerberosPrincipal("${test}");
} // principal

lookupSimulator {
    /*
     * Test or test harness specific entries
     */
    locatorConstraints = discoveryConstraints;

    /*
     * JAAS login context
     */
    loginContext = new LoginContext("com.sun.jini.Reggie");

    discoveryConstraints = new BasicMethodConstraints(
       new MethodDesc[]{						     
            new MethodDesc("unicastDiscovery", new InvocationConstraints(
                new InvocationConstraint[]{
                    ClientAuthentication.YES,
                    ServerAuthentication.YES,
                    Integrity.YES,
                    new ServerMinPrincipal(principal.reggie),
                    DiscoveryProtocolVersion.TWO,
		    new MulticastMaxPacketSize(1024),
		    new MulticastTimeToLive(multicast.ttl),
		    new UnicastSocketTimeout(120000) // 2*60*1000
                },
                null
	    )),
	    new MethodDesc(new InvocationConstraints(
	        new InvocationConstraint[]{
                    DiscoveryProtocolVersion.TWO,
		    new MulticastMaxPacketSize(1024),
		    new MulticastTimeToLive(multicast.ttl),
		    new UnicastSocketTimeout(120000) // 2*60*1000
		},
		null				  
            ))
	}
    );

    /*
     * Values for talking to the activation system
     */
    private static activationSystemConstraints =
        new BasicMethodConstraints(
            new InvocationConstraints(
                new InvocationConstraint[] {
                    Integrity.YES,
                    ServerAuthentication.YES,
                    new ServerMinPrincipal(principal.phoenix) },
                null
            ));
    activationSystemPreparer =
        new BasicProxyPreparer(
            true,
            activationSystemConstraints,
            new Permission[] {
                new AuthenticationPermission(
                    Collections.singleton(principal.reggie),
                    Collections.singleton(principal.phoenix),
                    "connect")
            }
        );
    activationIdPreparer =
        new BasicProxyPreparer(true, activationSystemConstraints, null);
} // lookupSimulator

exporter {
    name = "lookupSimulator.serverExporter";
    persistentExporter = new BasicJeriExporter(
	KerberosServerEndpoint.getInstance(0),
                              new ProxyTrustILFactory(
                                  new BasicMethodConstraints(
                                      new InvocationConstraints(
					  Integrity.YES,
                                          null)),
                                      AccessPermission.class));
    transientExporter = persistentExporter;
    activatableExporter = new ActivationExporter(
	(ActivationID) $data, persistentExporter);
}
