import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.ssl.SslServerEndpoint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.Integrity;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.security.AccessPermission;
import javax.security.auth.login.LoginContext;

test {
    reliabilityExporter = 
                 new BasicJeriExporter(
                       SslServerEndpoint.getInstance(0),
                       new BasicILFactory(
                           new BasicMethodConstraints(
                               new InvocationConstraints(
                                   new InvocationConstraint[]{Integrity.YES},
                                   null)),
                           null), //AccessPermission.class),
                       true,true);
}

