import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.http.HttpServerEndpoint;
        
test {
    reliabilityExporter = 
	new BasicJeriExporter(HttpServerEndpoint.getInstance(0), 
                              new BasicILFactory(),
                              true,true);
}

