grant codebase "file:/C:/Program%20Files/DirtyChai/jdk/lib/ext/*",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant {
    permission java.util.PropertyPermission "test.classes", "read";
    permission java.util.PropertyPermission "test.root", "read";
    permission java.util.PropertyPermission "test.src", "read";
    permission java.util.PropertyPermission "user.dir", "read";
    permission java.security.AllPermission "<all permissions>", "<all actions>";
    permission java.io.FilePermission ".", "read";
};

