/* Configuration source file for SSL Mercury */

import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.http.*;

org.apache.river.test.impl.mercury.listener {

    /*
     * Service exporter and client proxy preparers
     */
    private defaultendpoint = HttpServerEndpoint.getInstance(0);
    exporter = new BasicJeriExporter(defaultendpoint, new BasicILFactory());
}

/* the preparer that a test should use for the generator's proxy */
preparer {
   //Not used
}

