import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.ssl.HttpsServerEndpoint;
import net.jini.security.AccessPermission;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.Integrity;
import net.jini.constraint.BasicMethodConstraints;
        
test {
    reliabilityExporter = 
                new BasicJeriExporter(
                       HttpsServerEndpoint.getInstance(0),
                       new BasicILFactory(
                           new BasicMethodConstraints(
                               new InvocationConstraints(
                                   new InvocationConstraint[]{Integrity.YES},
                                   null)),
                           null), //AccessPermission.class),
                           true,true);
}

