grant codebase "file:/C:/Program%20Files/DirtyChai/jdk/lib/ext/*",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=bob"
principal org.apache.river.api.security.UnresolvedPrincipal "CN=joe",
{
    permission java.security.SecurityPermission "bar";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=bob",
{
    permission java.security.SecurityPermission "foo";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=joe",
{
    permission TestPermission "foo";
};

grant {
    permission java.lang.RuntimePermission "setSecurityManager";
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

