grant codebase "file:${com.sun.jini.test.home}${/}lib${/}fullloggingfilter.jar" {
	permission com.sun.jini.start.SharedActivationPolicyPermission "/-";
	permission com.sun.jini.start.SharedActivationPolicyPermission "\\-";
	permission com.sun.jini.start.SharedActivationPolicyPermission "file:/-";
	permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:/-";
	permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:c:/-";
	permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:c:\\-";
};

grant {
	permission java.io.FilePermission "${com.sun.jini.test.home}${/}lib${/}-", "read";
};

grant codebase "file:${com.sun.jini.test.home}${/}lib${/}qa1-start-tests.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${com.sun.jini.test.home}${/}lib${/}qa1-io-marshalledinstance-test.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${com.sun.jini.test.home}${/}lib${/}qa1-io-marshalinputstream-test.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${com.sun.jini.qa.harness.testJar}" {
    permission net.jini.security.GrantPermission
        "java.security.AllPermission \"\", \"\"";
};

// grants for various test services, placed here for simplicity, but
// should probably be separated into separate, targeted policy files

// grants needed by mahalo, mercury and simulator - this might be a bit broad

grant codebase "file:${com.sun.jini.test.home}${/}lib${/}qa1-mercury-bogusimpl.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${com.sun.jini.test.home}${/}lib/qa1-lookup-simulator.jar" {
    permission java.security.AllPermission "", "";
};

// grants needed by the activatable and non activatable groups

grant codebase "file:${com.sun.jini.test.home}${/}lib/qa1-start-probe.jar" {
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:${com.sun.jini.qa.harness.harnessJar}!/harness/policy/all.policy";
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:${com.sun.jini.qa.harness.harnessJar}!/harness/policy/policy.all";
};

grant codebase "file:${com.sun.jini.test.home}${/}lib${/}qa1-start-testservice1.jar" {
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:${com.sun.jini.qa.harness.harnessJar}!/harness/policy/all.policy";
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:${com.sun.jini.qa.harness.harnessJar}!/harness/policy/policy.all";
};

grant codebase "file:${com.sun.jini.test.home}${/}lib${/}qa1-start-testservice2.jar" {
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:${com.sun.jini.qa.harness.harnessJar}!/harness/policy/all.policy";
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:${com.sun.jini.qa.harness.harnessJar}!/harness/policy/policy.all";
};

// XXX funny install dir, but taken from old harness impl
grant codebase "file:${com.sun.jini.jsk.home}/lib/mercury_bogus.jar" {
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:${com.sun.jini.qa.harness.harnessJar}!/harness/policy/defaultsecuremercury.policy";
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:${com.sun.jini.qa.harness.harnessJar}!/harness/policy/sec-jeri-mercury.policy";
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:${com.sun.jini.qa.harness.harnessJar}!/harness/policy/all.policy";
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:${com.sun.jini.qa.harness.harnessJar}!/harness/policy/policy.all";
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:${com.sun.jini.qa.harness.harnessJar}!/harness/policy/defaultmercury.policy";
    permission com.sun.jini.start.SharedActivationPolicyPermission "file:${com.sun.jini.qa.home}/harness/policy/defaultsecuremercury.policy";
    permission com.sun.jini.start.SharedActivationPolicyPermission "file:${com.sun.jini.qa.home}/harness/policy/sec-jeri-mercury.policy";
    permission com.sun.jini.start.SharedActivationPolicyPermission "file:${com.sun.jini.qa.home}/harness/policy/all.policy";
    permission com.sun.jini.start.SharedActivationPolicyPermission "file:${com.sun.jini.qa.home}/harness/policy/policy.all";
    permission com.sun.jini.start.SharedActivationPolicyPermission "file:${com.sun.jini.qa.home}/harness/policy/defaultmercury.policy";

};

grant codebase "file:${com.sun.jini.jsk.home}/lib/mahalo.jar" {
    permission com.sun.jini.start.SharedActivationPolicyPermission "file:${com.sun.jini.test.home}/src/com/sun/jini/test/impl/mahalo/bogusMahaloImpl.policy";
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:${com.sun.jini.qa.harness.testJar}!/com/sun/jini/test/impl/mahalo/bogusMahaloImpl.policy";
};

grant codebase "file:${com.sun.jini.jsk.home}/lib/mercury.jar" {
    permission com.sun.jini.start.SharedActivationPolicyPermission "file:${com.sun.jini.test.home}/src/com/sun/jini/test/impl/mahalo/bogusMahaloImpl.policy";
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:${com.sun.jini.qa.harness.testJar}!/com/sun/jini/test/impl/mahalo/bogusMahaloImpl.policy";
};
