grant codebase "http://*/jsk-dl.jar",
{
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
};

grant codebase "http://*/phoenix-dl.jar",
{
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
    permission org.apache.river.api.io.DeSerializationPermission "MARSHALL";
};

grant codebase "http://*/qa1-lookup-simulator-dl.jar",
{
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
};

grant codebase "http://*/reggie-dl.jar",
{
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
};

grant codebase "jrt:/java.security.jgss",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/java.smartcardio",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/java.xml.crypto",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.cryptoki",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.ec",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.mscapi",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.localedata",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.security.auth",
{
    permission javax.security.auth.AuthPermission "modifyPrincipals";
    permission javax.security.auth.AuthPermission "modifyPrivateCredentials";
    permission javax.security.auth.AuthPermission "modifyPublicCredentials";
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.security.jgss",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/org.openjsse",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Tester",
{
    permission java.lang.RuntimePermission "modifyThread";
    permission java.lang.RuntimePermission "modifyThreadGroup";
};

grant {
    permission java.util.PropertyPermission "FILEPOLICY02", "read";
    permission java.util.PropertyPermission "java.system.class.loader", "read";
    permission java.util.PropertyPermission "org.apache.river.outrigger.maxServerQueryTimeout", "read";
    permission java.util.PropertyPermission "org.apache.river.reggie.enableImplToStubReplacement", "read";
    permission javax.net.ssl.SSLPermission "getSSLSessionContext";
    permission org.apache.river.phoenix.ExecOptionPermission "*";
    permission org.apache.river.phoenix.ExecPermission "/bin/javax";
    permission org.apache.river.start.SharedActivationPolicyPermission "/-";
    permission org.apache.river.start.SharedActivationPolicyPermission "\\-";
    permission org.apache.river.start.SharedActivationPolicyPermission "file:/-";
    permission org.apache.river.start.SharedActivationPolicyPermission "jar:file:/-";
    permission org.apache.river.start.SharedActivationPolicyPermission "jar:file:c:/-";
    permission org.apache.river.start.SharedActivationPolicyPermission "jar:file:c:\\-";
    permission java.security.SecurityPermission "getPolicy";
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.proxy";
    permission java.lang.RuntimePermission "accessClassInPackage.jdk.internal.misc";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.misc";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.security.action";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.security.ssl";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.security.util";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.util.logging.resources";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "getClassLoader";
    permission net.jini.security.GrantPermission "java.security.AllPermission \"\", \"\"";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

