grant codebase "http://*/jsk-dl.jar",
{
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
};

grant codebase "http://*/phoenix-dl.jar",
{
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
    permission org.apache.river.api.io.DeSerializationPermission "MARSHALL";
};

grant codebase "http://*/qa1-lookup-simulator-dl.jar",
{
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
};

grant codebase "http://*/reggie-dl.jar",
{
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
};

grant codebase "jrt:/java.security.jgss",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/java.smartcardio",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/java.xml.crypto",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.cryptoki",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.ec",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.crypto.mscapi",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.localedata",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.security.auth",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/jdk.security.jgss",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant codebase "jrt:/org.openjsse",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Tester",
{
    permission java.lang.RuntimePermission "modifyThread";
    permission java.lang.RuntimePermission "modifyThreadGroup";
};

grant {
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

