import com.sun.jini.phoenix.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.TcpServerEndpoint;
import net.jini.jrmp.*;

com.sun.jini.phoenix {

    registryExporter = new RegistrySunExporter();
    private factory = new AccessILFactory();
    activatorExporter =
	new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
			      new BasicILFactory(), false, true);
    systemExporter = new JrmpExporter();
    monitorExporter = 
        new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
			      factory, false, true);
    instantiatorExporter =
        new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
			      factory, false, true);

    persistenceDirectory = "log";

    groupOptions = new String[]{
	"-Djsk.home=${jsk.home}"
    };

}
