grant {
    permission java.net.SocketPermission "*:1024-", "connect,listen,accept,resolve";
    permission java.io.FilePermission ".", "read,write,delete";
    permission java.util.PropertyPermission "java.home", "read";
    permission java.util.PropertyPermission "java.security.manager", "read";
    permission java.util.PropertyPermission "java.security.policy", "read";
    permission java.util.PropertyPermission "test.classes", "read";
    permission java.util.PropertyPermission "test.src", "read";
    permission java.util.PropertyPermission "user.dir", "read";
};

