/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 * security policy used by the test process
 */

grant codeBase "file:${java.home}/lib/ext/*" {
        permission java.security.AllPermission; 
}; 

grant codeBase "file:${jtlib.tmp}/*" {
	permission java.security.AllPermission;
};

grant {
  // need to move some classes out of the tests classpath; specific to this test
  permission java.io.FilePermission "${test.classes}", "read,write,delete";
  permission java.io.FilePermission "${test.classes}${/}-", "read,write,delete";

  // need to load custom security manager and activation group from a new codebase
  permission java.io.FilePermission ".${/}codebase1", "read,write,delete";
  permission java.io.FilePermission ".${/}codebase1${/}-", "read,write";
  permission java.io.FilePermission ".${/}codebase2", "read,write,delete";
  permission java.io.FilePermission ".${/}codebase2${/}-", "read,write,delete";

  // standard activation permissions
    permission java.io.FilePermission "..${/}..${/}test.props", "read";

  // for HTTPD
  permission java.lang.RuntimePermission "createClassLoader";

  // test needs to cleanup rmid's log.
  permission java.io.FilePermission ".${/}log", "read,write,delete";
  permission java.io.FilePermission ".${/}log${/}-", "read,write,delete";

  // test needs to use java to exec an rmid
  permission java.io.FilePermission "${java.home}${/}bin${/}java", "execute";

  // test rmid uses these properties to propagate security values to rmid
  permission java.util.PropertyPermission "java.security.policy", "read";
  permission java.util.PropertyPermission "java.security.manager", "read";

  // used by TestLibrary to determine test environment 
  permission java.util.PropertyPermission "test.classes", "read";
  permission java.util.PropertyPermission "test.src", "read";
  permission java.util.PropertyPermission "user.dir", "read";
  permission java.util.PropertyPermission "java.home", "read";

  permission java.util.PropertyPermission "test.rmi.exportType", "read";

  // outbound calls
  permission java.net.SocketPermission "*:1024-", "connect";

  // allow getting impl's class loader for export
  permission java.lang.RuntimePermission "getClassLoader";
};
