grant {
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.security.AllPermission "<all permissions>", "<all actions>";
    permission net.jini.export.ExportPermission "exportRemoteInterface.ActivateMe";
    permission java.net.SocketPermission "*:1024-", "connect,listen,accept,resolve";
};

