import org.apache.river.phoenix.*;

org.apache.river.phoenix {

    registryExporter = new RegistrySunExporter();
    activatorExporter = new ActivatorSunJrmpExporter();
    systemExporter = new SystemAccessExporter();
    monitorExporter = new MonitorAccessExporter();
    instantiatorExporter = new InstantiatorAccessExporter();
    persistenceDirectory = "log";

}
