grant codebase "file:${com.sun.jini.jsk.home}${/}lib${/}outrigger.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${com.sun.jini.jsk.home}${/}lib${/}outrigger-snaplogstore.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${com.sun.jini.jsk.home}${/}lib${/}transient-outrigger.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${com.sun.jini.jsk.home}${/}lib${/}outrigger-logstore.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${com.sun.jini.jsk.home}${/}lib${/}pro.zip" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${com.sun.jini.jsk.home}${/}lib${/}jsk-platform.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${com.sun.jini.jsk.home}${/}lib${/}jsk-lib.jar" {
    permission java.security.AllPermission "", "";
};
