/*
 * security policy used by activation groups
 */

grant codebase "file:${jsk.home}/lib/phoenix-group.jar" {
  permission java.security.AllPermission;
};

grant codebase "file:${jsk.home}/lib/jsk-lib.jar" {
  permission java.security.AllPermission;
};

grant {
  // allow remote objects to be exported on arbitrary ports.
  permission java.net.SocketPermission "*:1024-", "connect,accept,listen";

  // allow getting impl's class loader for export
  permission java.lang.RuntimePermission "getClassLoader";

  // allow remote objects to call monitor's inactive method
  permission com.sun.jini.phoenix.MonitorPermission "inactiveObject";

};
