grant codebase "jrt:/jdk.localedata",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant {
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
    permission org.apache.river.api.io.DeSerializationPermission "ENTRY";
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.proxy";
    permission java.security.AllPermission "<all permissions>", "<all actions>";
    permission java.net.SocketPermission "medusa", "resolve";
};

