grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}*
{
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib-dl${/}*
{
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/jdk.security.auth" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/jdk.crypto.cryptoki" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/java.smartcardio" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/java.xml.crypto" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/java.security.jgss" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/jdk.crypto.ec" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/jdk.crypto.mscapi" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/jdk.localedata" {
    permission java.security.AllPermission "", "";
};

grant codebase "jrt:/jdk.security.jgss" {
    permission java.security.AllPermission "", "";
};

grant codebase "httpmd://${HOST}/*" {
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
    permission org.apache.river.api.io.DeSerializationPermission "MARSHALL";
    permission org.apache.river.api.io.DeSerializationPermission "ENTRY";
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.proxy";
};

grant principal javax.security.auth.x500.X500Principal "CN=Fiddler"
{
      permission net.jini.security.AccessPermission "*";
      permission java.io.FilePermission "${org.apache.river.jsk.home}${/}lib${/}jgdms-rmi-tls-${river.version}.jar", "read";
      permission java.net.SocketPermission "[0:0:0:0:0:0:0:1]:1098", "connect,resolve";
      permission java.net.SocketPermission "${HOST}", "resolve";
      permission java.lang.RuntimePermission "accessClassInPackage.com.sun.proxy";
      permission java.net.SocketPermission "[0:0:0:0:0:0:0:1]:1098", "connect,resolve";
      permission java.lang.RuntimePermission, "modifyThread";
};

grant principal javax.security.auth.x500.X500Principal "CN=Mahalo"
{
      permission net.jini.security.AccessPermission "*";
      permission java.io.FilePermission "${org.apache.river.jsk.home}${/}lib${/}jgdms-rmi-tls-${river.version}.jar", "read";
      permission java.net.SocketPermission "[0:0:0:0:0:0:0:1]:1098", "connect,resolve";
      permission java.net.SocketPermission "${HOST}", "resolve";
      permission java.lang.RuntimePermission, "modifyThread";
      permission java.lang.RuntimePermission "modifyThreadGroup";
      permission net.jini.security.AuthenticationPermission 
        "javax.security.auth.x500.X500Principal \"CN=Mahalo\" peer javax.security.auth.x500.X500Principal \"CN=Phoenix\"",
        "connect";
      permission net.jini.security.AuthenticationPermission 
        "javax.security.auth.x500.X500Principal \"CN=Mahalo\" peer javax.security.auth.x500.X500Principal \"CN=Tester\"",
        "connect";
      permission net.jini.security.AuthenticationPermission 
        "javax.security.auth.x500.X500Principal \"CN=Mahalo\" peer javax.security.auth.x500.X500Principal \"CN=Outrigger\"",
        "connect";
};

grant principal javax.security.auth.x500.X500Principal "CN=Mercury"
{
      permission net.jini.security.AccessPermission "*";
      permission java.io.FilePermission "${org.apache.river.jsk.home}${/}lib${/}jgdms-rmi-tls-${river.version}.jar", "read";
      permission java.net.SocketPermission "[0:0:0:0:0:0:0:1]:1098", "connect,resolve";
      permission java.util.PropertyPermission "org.apache.river.reggie.enableImplToStubReplacement", "read";
      permission java.lang.RuntimePermission, "modifyThread";
      permission java.lang.RuntimePermission, "modifyThreadGroup";
};

grant principal javax.security.auth.x500.X500Principal "CN=Outrigger"
{
      permission net.jini.security.AccessPermission "*";
      permission java.io.FilePermission "${org.apache.river.jsk.home}${/}lib${/}jgdms-rmi-tls-${river.version}.jar", "read";
      permission java.net.SocketPermission "[0:0:0:0:0:0:0:1]:1098", "connect,resolve";
      permission java.lang.RuntimePermission, "modifyThread";
};

grant principal javax.security.auth.x500.X500Principal "CN=Reggie"
{
      permission net.jini.security.AccessPermission "*";
      permission java.io.FilePermission "${org.apache.river.jsk.home}${/}lib${/}jgdms-rmi-tls-${river.version}.jar", "read";
      permission java.net.SocketPermission "[0:0:0:0:0:0:0:1]:1098", "connect,resolve";
      permission java.lang.RuntimePermission, "modifyThread";
};

grant principal javax.security.auth.x500.X500Principal "CN=Norm"
{
      permission net.jini.security.AccessPermission "*";
      permission java.io.FilePermission "${org.apache.river.jsk.home}${/}lib${/}jgdms-rmi-tls-${river.version}.jar", "read";
      permission java.net.SocketPermission "[0:0:0:0:0:0:0:1]:1098", "connect,resolve";
      permission java.lang.RuntimePermission, "modifyThread";
};

grant principal javax.security.auth.x500.X500Principal "CN=Tester"
{
      permission net.jini.security.AccessPermission "*";
      permission java.io.FilePermission "${org.apache.river.jsk.home}${/}lib${/}jgdms-rmi-tls-${river.version}.jar", "read";
      permission java.net.SocketPermission "[0:0:0:0:0:0:0:1]:1098", "connect,resolve";
      permission java.lang.RuntimePermission, "modifyThread";
};

//Kerberos Principals
grant principal javax.security.auth.kerberos.KerberosPrincipal "${fiddler}"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.kerberos.KerberosPrincipal "${mahalo}"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.kerberos.KerberosPrincipal "${mercury}"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.kerberos.KerberosPrincipal "${outrigger}"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.kerberos.KerberosPrincipal "${reggie}"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.kerberos.KerberosPrincipal "${norm}"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.kerberos.KerberosPrincipal "${test}"
{
      permission net.jini.security.AccessPermission "*";
};


