grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}*
{
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib-dl${/}*
{
    permission java.security.AllPermission "", "";
};

grant codebase "httpmd://${HOST}:9080/${org.apache.river.phoenix.dl.jar}"
{
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
    permission java.io.FilePermission "<<ALL FILES>>", "read";
};

grant codebase "httpmd://${HOST}/*" {
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
    permission org.apache.river.api.io.DeSerializationPermission "MARSHALL";
    permission org.apache.river.api.io.DeSerializationPermission "ENTRY";
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.proxy";
    permission java.io.FilePermission "<<ALL FILES>>", "read";
};

grant
{
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
    permission java.net.SocketPermission "medusa:9082", "connect,resolve";
};

grant principal javax.security.auth.x500.X500Principal "CN=Phoenix"
{
      permission java.net.SocketPermission "${HOST}:9082", "connect,resolve";
};

grant principal javax.security.auth.x500.X500Principal "CN=Fiddler"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.x500.X500Principal "CN=fiddler"
{
      permission net.jini.security.AccessPermission "multicastRequest";
};


grant principal javax.security.auth.x500.X500Principal "CN=Mahalo"
{
      permission net.jini.security.AccessPermission "*";
      permission java.io.FilePermission "${org.apache.river.jsk.home}${/}lib${/}jgdms-rmi-tls-${river.version}.jar", "read";
      permission java.net.SocketPermission "[0:0:0:0:0:0:0:1]:1098", "connect,resolve";
      permission java.net.SocketPermission "${HOST}", "resolve";
};

grant principal javax.security.auth.x500.X500Principal "CN=mahalo"
{
      permission net.jini.security.AccessPermission "multicastRequest";
};

grant principal javax.security.auth.x500.X500Principal "CN=Mercury"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.x500.X500Principal "CN=mercury"
{
      permission net.jini.security.AccessPermission "multicastRequest";

};

grant principal javax.security.auth.x500.X500Principal "CN=Outrigger"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.x500.X500Principal "CN=outrigger"
{
      permission net.jini.security.AccessPermission "multicastRequest";

};

grant principal javax.security.auth.x500.X500Principal "CN=Norm"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.x500.X500Principal "CN=norm"
{
      permission net.jini.security.AccessPermission "multicastRequest";

};

grant principal javax.security.auth.x500.X500Principal "CN=Reggie"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.x500.X500Principal "CN=reggie"
{
      permission net.jini.security.AccessPermission "multicastRequest";

};

grant principal javax.security.auth.x500.X500Principal "CN=Tester"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.x500.X500Principal "CN=tester"
{
      permission net.jini.security.AccessPermission "multicastRequest";
};

//Kerberos Principals
grant principal javax.security.auth.kerberos.KerberosPrincipal "${fiddler}"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.kerberos.KerberosPrincipal "${mahalo}"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.kerberos.KerberosPrincipal "${mercury}"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.kerberos.KerberosPrincipal "${outrigger}"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.kerberos.KerberosPrincipal "${reggie}"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.kerberos.KerberosPrincipal "${norm}"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.kerberos.KerberosPrincipal "${group}"
{
      permission net.jini.security.AccessPermission "*";
};

grant principal javax.security.auth.kerberos.KerberosPrincipal "${test}"
{
      permission net.jini.security.AccessPermission "*";
};
