grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}${org.apache.river.reggie.jar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib-dl${/}${org.apache.river.reggie.dl.jar}" {
    permission java.security.AllPermission "", "";
};

grant {
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
    permission org.apache.river.api.io.DeSerializationPermission "ENTRY";
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.proxy";
    permission java.net.SocketPermission "medusa", "resolve";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}*
{
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib-dl${/}*
{
    permission java.security.AllPermission "", "";
};