grant codebase "jrt:/jdk.localedata",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${fiddler}",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${mahalo}",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${mercury}",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${norm}",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${outrigger}",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${phoenix}",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "${reggie}",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Fiddler",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Mahalo",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Mercury",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Norm",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Outrigger",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Phoenix",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant principal org.apache.river.api.security.UnresolvedPrincipal "CN=Reggie",
{
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
};

grant {
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
    permission org.apache.river.phoenix.dl.ExecOptionPermission "*";
    permission org.apache.river.phoenix.dl.ExecPermission "/bin/javax";
    permission org.apache.river.phoenix.dl.SystemPermission "java.rmi.activation.ActivationSystem.*";
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

