grant codebase "jrt:/jdk.localedata",
{
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

grant {
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
    permission org.apache.river.api.io.DeSerializationPermission "MARSHALL";
    permission java.security.AllPermission "<all permissions>", "<all actions>";
};

