grant codebase "file:${com.sun.jini.jsk.home}${/}lib${/}mahalo.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${com.sun.jini.jsk.home}${/}lib${/}jsk-platform.jar" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${com.sun.jini.jsk.home}${/}lib${/}jsk-lib.jar" {
    permission java.security.AllPermission "", "";
};

// Grants required for later versions of jdk1.7 for classes that override
// ObjectOutputStream, unfortunately the way this is implemented it isn't 
// possible to perform as a privileged action from the overriding class.
grant {
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.proxy";
    permission java.io.FilePermission "${com.sun.jini.jsk.home}${/}lib${/}jsk-lib.jar", "read";
};