grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}*
{
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib-dl${/}*
{
    permission java.security.AllPermission "", "";
};

grant { 
    permission org.apache.river.api.io.DeSerializationPermission "ATOMIC";
    permission org.apache.river.api.io.DeSerializationPermission "ENTRY";
};

// Grants required for later versions of jdk1.7 for classes that override
// ObjectOutputStream, unfortunately the way this is implemented it isn't 
// possible to perform as a privileged action from the overriding class.
grant {
    permission java.lang.RuntimePermission "accessClassInPackage.com.sun.proxy";
    permission java.io.FilePermission "${org.apache.river.jsk.home}${/}lib${/}${org.apache.river.lib.jar}", "read";
    permission java.io.FilePermission "${org.apache.river.jsk.home}${/}lib-dl${/}${net.jini.lib.dl.jar}", "read";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}${net.jini.platform.jar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}${org.apache.river.collections.jar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}${net.jini.jeri.jar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}${org.apache.river.discovery.jar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib${/}${org.apache.river.lib.jar}" {
    permission java.security.AllPermission "", "";
};

grant codebase "file:${org.apache.river.jsk.home}${/}lib-dl${/}${net.jini.lib.dl.jar}" {
    permission java.security.AllPermission "", "";
};