import org.apache.river.thread.TaskManager;
import org.apache.river.thread.WakeupManager;
net.jini.discovery.LookupDiscovery {
    static taskManager = new TaskManager(15, 15000, 1.0f);
    static wakeupManager =
	new WakeupManager(new WakeupManager.ThreadDesc(null,true));
    /* Force use of WakeupManager by not sending out any multicast requests
     * and setting a unicast delay. */
    multicastRequestMax = 0;
    unicastDelayRange = 1L;
}
