grant codebase "file:${java.class.path}" {
    permission java.security.AllPermission;
};

grant {
    permission com.sun.jini.start.SharedActivationPolicyPermission "c:${/}-";
    permission com.sun.jini.start.SharedActivationPolicyPermission "/-";
    permission com.sun.jini.start.SharedActivationPolicyPermission "jar:file:/-";
    permission java.util.PropertyPermission "com.sun.jini.start.startutil.debug", "read";
};
