grant {
    permission java.io.FilePermission "${java.io.tmpdir}${/}-", "read,write,delete";
    permission java.net.SocketPermission "*:*", "connect,resolve";
    permission java.util.PropertyPermission "*", "read,write";
    permission java.lang.RuntimePermission "exitVM", "";
};
