import org.apache.river.config.KeyStores;
import org.apache.river.discovery.DiscoveryProtocolVersion;
import org.apache.river.discovery.MulticastMaxPacketSize;
import org.apache.river.discovery.MulticastTimeToLive;
import org.apache.river.discovery.UnicastSocketTimeout;

import java.util.Collections;

import java.security.Permission;

import java.rmi.activation.ActivationID;

import javax.security.auth.login.LoginContext;

import net.jini.activation.ActivationExporter;
import net.jini.constraint.BasicMethodConstraints;
import net.jini.constraint.BasicMethodConstraints.MethodDesc;
import net.jini.core.constraint.ClientAuthentication;
import net.jini.core.constraint.ClientMinPrincipal;
import net.jini.core.constraint.ConstraintAlternatives;
import net.jini.core.constraint.Integrity;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.ServerAuthentication;
import net.jini.core.constraint.ServerMinPrincipal;
import net.jini.core.discovery.LookupLocator;
import net.jini.discovery.ConstrainableLookupLocator;
import net.jini.jeri.BasicILFactory;
import net.jini.jeri.AtomicILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.ProxyTrustILFactory;
import net.jini.jeri.ssl.SslServerEndpoint;
import net.jini.security.AccessPermission;
import net.jini.security.AuthenticationPermission;
import net.jini.security.BasicProxyPreparer;

multicast {
    private ttl = 1;
}

principal {
    /* 
     * JAAS principals
     */
    private static keystore = KeyStores.getKeyStore(
        "file:${org.apache.river.qa.home}/harness/trust/truststore",
	null);
    private static mercury = KeyStores.getX500Principal("mercury", keystore);
    private static phoenix = KeyStores.getX500Principal("phoenix", keystore);
    private static reggie = KeyStores.getX500Principal("reggie", keystore);
    private static tester = KeyStores.getX500Principal("tester", keystore);
}

org.apache.river.mercury {
    /*
     * Test or test harness specific entries
     */
    locatorConstraints = 
	net.jini.discovery.LookupDiscovery.discoveryConstraints;

    /* 
     * JAAS login context
     */
    loginContext = new LoginContext("org.apache.river.Mercury");

    listenerPreparer = new BasicProxyPreparer(
	new BasicMethodConstraints(
	    new InvocationConstraints(
       	        new InvocationConstraint[] {
		    Integrity.YES,
		    ServerAuthentication.YES,
		    new ConstraintAlternatives(
		        new InvocationConstraint[] {
			    //Normal case: test provided listeners
		            new ServerMinPrincipal(principal.tester),
			    //Exceptional case: resubmission of MB listener
		            new ServerMinPrincipal(principal.mercury)
			}
		    )
		},
	        null
	)),
	new Permission[] {
	    //Normal case: test provided listeners
	    new AuthenticationPermission(
		Collections.singleton(principal.mercury),
		Collections.singleton(principal.tester),
		"connect"),
	    //Exceptional case: resubmission of MB listener
	    new AuthenticationPermission(
		Collections.singleton(principal.mercury),
		Collections.singleton(principal.mercury),
		"connect")
	});
    recoveredListenerPreparer = 
	new BasicProxyPreparer(
            new Permission[] {
                //Normal case: test provided listeners
                new AuthenticationPermission(
		    Collections.singleton(principal.mercury),
                    Collections.singleton(principal.tester),
                    "connect"),
                //Exceptional case: resubmission of MB listener
                new AuthenticationPermission(
		    Collections.singleton(principal.mercury),
                    Collections.singleton(principal.mercury),
                    "connect")
            }
	);

    /*
     * Values for talking to the lookup service - lots missing
     */
    private static reggieConstraints =
	new BasicMethodConstraints(
	    new InvocationConstraints(
		new InvocationConstraint[] {
		    Integrity.YES,
		    ServerAuthentication.YES,
		    new ServerMinPrincipal(principal.reggie) 
		},
		null
	));
    private static reggiePermissions =
	new Permission[] {
	    new AuthenticationPermission(
		Collections.singleton(principal.mercury),
		Collections.singleton(principal.reggie),
		"connect")
	};
    private reggiePreparer = new BasicProxyPreparer(
	reggieConstraints,
	reggiePermissions);

    /*
     * Values for talking to the activation system
     */
    private static activationSystemConstraints =
	new BasicMethodConstraints(
	    new InvocationConstraints(
		new InvocationConstraint[] {
		    Integrity.YES,
		    ServerAuthentication.YES,
		    new ServerMinPrincipal(principal.phoenix) 
		},
		null
	));
    activationSystemPreparer = 
	new BasicProxyPreparer(
	    activationSystemConstraints, 
	    new Permission[] {
		new AuthenticationPermission(
		    Collections.singleton(principal.mercury),
		    Collections.singleton(principal.phoenix),
		    "connect")
	    }
	);
    activationIdPreparer = new BasicProxyPreparer(
	activationSystemConstraints, 
	null);
} // org.apache.river.mercury

net.jini.lookup.JoinManager {
    registrarPreparer    = org.apache.river.mercury.reggiePreparer;
    registrationPreparer = org.apache.river.mercury.reggiePreparer;
    serviceLeasePreparer = org.apache.river.mercury.reggiePreparer;
}
                       
net.jini.discovery.LookupDiscovery {
    registrarPreparer = org.apache.river.mercury.reggiePreparer;
    discoveryConstraints = new BasicMethodConstraints(
        new MethodDesc[]{
            new MethodDesc("multicastRequest", new InvocationConstraints(
                new InvocationConstraint[]{
                    ClientAuthentication.YES,
                    Integrity.YES,
                    new ClientMinPrincipal(principal.mercury),
                    DiscoveryProtocolVersion.TWO,
                    new MulticastMaxPacketSize(1024),
                    new MulticastTimeToLive(multicast.ttl),
                    new UnicastSocketTimeout(120000) // 2*60*1000
                },
                null
            )),
            new MethodDesc("multicastAnnouncement", new InvocationConstraints(
                new InvocationConstraint[]{
                    ServerAuthentication.YES,
                    Integrity.YES,
                    new ServerMinPrincipal(principal.reggie),
                    DiscoveryProtocolVersion.TWO,
                    new MulticastMaxPacketSize(1024),
                    new MulticastTimeToLive(multicast.ttl),
                    new UnicastSocketTimeout(120000) // 2*60*1000
                },
                null
            )),
            new MethodDesc("unicastDiscovery", new InvocationConstraints(
                new InvocationConstraint[]{
                    ServerAuthentication.YES,
                    Integrity.YES,
                    new ServerMinPrincipal(principal.reggie),
                    DiscoveryProtocolVersion.TWO,
                    new MulticastMaxPacketSize(1024),
                    new MulticastTimeToLive(multicast.ttl),
                    new UnicastSocketTimeout(120000) // 2*60*1000
                },
                null
            ))
        }
    );

} // net.jini.discovery.LookupDiscovery

net.jini.discovery.LookupLocatorDiscovery {
    registrarPreparer = org.apache.river.mercury.reggiePreparer;
}

exporter {
    name = "org.apache.river.mercury.serverExporter";
    persistentExporter = 
	new BasicJeriExporter(
            SslServerEndpoint.getInstance(0),
            new AtomicILFactory(
                new BasicMethodConstraints(
		    new InvocationConstraints(
			Integrity.YES,
		        null)),
                AccessPermission.class,
                org.apache.river.mercury.proxy.MailboxBackEnd.class
            )
        );
    transientExporter = persistentExporter;
    activatableExporter = new ActivationExporter(
	(ActivationID) $data, persistentExporter);
}
