/* Configuration source file for non-secure client */

import java.net.SocketPermission;
import java.security.Permission;
import net.jini.discovery.LookupDiscovery;
import net.jini.lookup.ServiceDiscoveryManager;
import net.jini.security.BasicProxyPreparer;

com.sun.jini.example.hello.Client {

    private groups = new String[] { "nonsecure.hello.example.jini.sun.com" };
    serviceDiscovery = new ServiceDiscoveryManager(
	new LookupDiscovery(groups, this), null, this);

}//end com.sun.jini.example.hello.Client

/* Configuration block for the lookup discovery utility */
net.jini.discovery.LookupDiscovery {

    registrarPreparer = new BasicProxyPreparer(
	false /* verify */,
	new Permission[] {
	    new SocketPermission("*:1024-", "connect")
	});

}//end net.jini.discovery.LookupDiscovery

/* Configuration block for the SDM */
net.jini.lookup.ServiceDiscoveryManager {

    registrarPreparer = net.jini.discovery.LookupDiscovery.registrarPreparer;

}//end net.jini.lookup.ServiceDiscoveryManager
