/* Configuration source file for confirming Jini ERI server */

import com.sun.jini.example.hello.ConfirmingILFactory;
import net.jini.discovery.LookupDiscovery;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;

com.sun.jini.example.hello.Server {

    /* Exporter for the server proxy */
    exporter = new BasicJeriExporter(
	TcpServerEndpoint.getInstance(0),
	new ConfirmingILFactory());

    private groups = new String[] { "nonsecure.hello.example.jini.sun.com" };
    discoveryManager = new LookupDiscovery(groups, this);

}//end com.sun.jini.example.hello.Server
