 /* Configuration source file for the non-secure phoenix group */

import com.sun.jini.phoenix.AccessILFactory;
import net.jini.jeri.BasicJeriExporter;
import net.jini.jeri.tcp.TcpServerEndpoint;

com.sun.jini.phoenix {

    instantiatorExporter = 
	new BasicJeriExporter(TcpServerEndpoint.getInstance(0),
                              new AccessILFactory());

}//end com.sun.jini.phoenix
