/* Configuration source file for JRMP server */

import net.jini.discovery.LookupDiscovery;
import net.jini.jrmp.JrmpExporter;

com.sun.jini.example.hello.Server {

    /* Exporter for the server proxy */
    exporter = new JrmpExporter();

    private groups = new String[] { "nonsecure.hello.example.jini.sun.com" };
    discoveryManager = new LookupDiscovery(groups, this);

}//end com.sun.jini.example.hello.Server
