/* Security policy for SSL server */

/* Keystore containing trusted certificates to use for authentication */
keystore "..${/}prebuiltkeys${/}truststore";

/* Grant all permissions to local JAR files */
grant codeBase "file:..${/}..${/}..${/}..${/}..${/}..${/}..${/}lib${/}*" {
    permission java.security.AllPermission;
};

grant codeBase "file:lib${/}*" {
    permission java.security.AllPermission;
};

/* Grant permissions to client principal */
grant principal "client" {
    /* Call sayHello method */
    permission com.sun.jini.example.hello.ServerPermission "sayHello";
};

/* Grant permissions to all principals */
grant {
    /* Call getProxyVerifier method */
    permission com.sun.jini.example.hello.ServerPermission "getProxyVerifier";
};
