/* Configuration source file for starting activatable Jini ERI server */

com.sun.jini.example.hello.Server {

    /* Configuration options for the server */
    private config = "config${/}activatable-jeri-server.config";
    configOptions = new String[] { config };

    /* Command line options for the activation group */
    javaOptions = new String[] { "-classpath", "lib${/}server-act.jar" };

    /* System properties for the activation group */
    javaProperties = new String[] {
	"java.security.manager", "",
	"java.security.policy", "config${/}activatable-server.policy",
	"java.rmi.server.codebase", "http://${serverHost}:8080/server-dl.jar http://${serverHost}:8080/jsk-dl.jar",
	"java.security.properties", 
		"config${/}dynamic-policy.security-properties"
    };

}//end com.sun.jini.example.hello.Server 
