/* Security policy for starting non-secure, activatable server */

/* Grant the local JAR files all permissions */
grant codeBase "file:..${/}..${/}..${/}..${/}..${/}..${/}..${/}lib${/}*" {
    permission java.security.AllPermission;
};

grant codeBase "file:lib${/}*" 
{
    permission java.security.AllPermission;
};
