/* Configuration file for starting Reggie with SSL */

import com.sun.jini.config.ConfigUtil;
import com.sun.jini.start.NonActivatableServiceDescriptor;
import com.sun.jini.start.ServiceDescriptor;
import net.jini.url.httpmd.HttpmdUtil;

com.sun.jini.start {

    private ourHost= ConfigUtil.getHostName();
    private serverURL = ConfigUtil.concat(
	new String[] { "httpmd://", ourHost, ":8080/reggie-dl.jar;sha=0"});
    private serverCodebase = HttpmdUtil.computeDigestCodebase("..${/}..${/}..${/}..${/}..${/}..${/}..${/}lib-dl", serverURL);
    private jskURL = ConfigUtil.concat(
	new String[] { "httpmd://", ourHost, ":8080/jsk-dl.jar;sha=0"});
    private jskCodebase = HttpmdUtil.computeDigestCodebase("..${/}..${/}..${/}..${/}..${/}..${/}..${/}lib-dl", jskURL);

    private static codebase = ConfigUtil.concat( 
	new String[] { serverCodebase," ",jskCodebase } );

    private static policy =    "config${/}ssl-reggie.policy";
    private static classpath = 
	"lib${/}mdprefld.jar${path.separator}..${/}..${/}..${/}..${/}..${/}..${/}..${/}lib${/}reggie.jar";
    private static config =    "config${/}ssl-reggie.config";

    static serviceDescriptors = new ServiceDescriptor[] {
	new NonActivatableServiceDescriptor(
	    codebase, policy, classpath,
	    "com.sun.jini.reggie.TransientRegistrarImpl",
	    new String[] { config }
	)
    };

}//end com.sun.jini.start
