test {
}

sharedGroup {
    //policyfile="${jsk.home}/policy/sec-jeri-policy.sharedvm";
    //policyfile="=${jsk.home}/policy/policy.all";
}

sharedGroupImpl {
    //policyfile="${jsk.home}/policy/sec-jeri-policy.group";
    //policyfile="=${jsk.home}/policy/policy.all";
}

org.apache.river.start.group.SharedGroup {
    //policyfile="${jsk.home}/policy/sec-jeri-policy.group";
    //policyfile="=${jsk.home}/policy/policy.all";
}
