/* Configuration source file for SSL testservice */

/*
 * This service assumes fiddler's for now because no
 * general purpose pool of identities exists at this point
 */

import org.apache.river.phoenix.*;
import net.jini.jeri.*;
import net.jini.jeri.ssl.SslServerEndpoint;
import net.jini.jeri.security.*;
import net.jini.constraint.*;
import net.jini.core.constraint.*;
import net.jini.jeri.*;
import net.jini.security.*;
import net.jini.export.ExportPermission;
import javax.security.auth.login.LoginContext;
import org.apache.river.config.KeyStores;
import java.security.Permission;
import java.util.Collections;

org.apache.river.testservice {

    /* 
     * JAAS principals
     */   
    loginContext = new LoginContext("org.apache.river.Fiddler");
    private static tester_keystore = KeyStores.getKeyStore(
	"file:${qa.home}/harness/trust/tester.keystore",
	"pkcs12", "testerpw");  
    private static phoenix_keystore = KeyStores.getKeyStore(
	"file:${qa.home}/harness/trust/phoenix.keystore",
	"pkcs12", "phoenixpw");
    private static reggie_keystore = KeyStores.getKeyStore(
	"file:${qa.home}/harness/trust/reggie.keystore",
	"pkcs12", "reggiepw");   
    private static fiddler_keystore = KeyStores.getKeyStore(
	"file:${qa.home}/harness/trust/fiddler.keystore",
	"pkcs12", "fiddlerpw");
    
    static tester = KeyStores.getX500Principal("tester", tester_keystore);  
    static phoenix = KeyStores.getX500Principal("phoenix", phoenix_keystore);
    static reggie = KeyStores.getX500Principal("reggie", reggie_keystore);   
    static fiddler = KeyStores.getX500Principal("fiddler", fiddler_keystore);

    /*
     * Service exporter and client proxy preparers
     */
    exporter =
        new BasicJeriExporter(
	    SslServerEndpoint.getInstance(0),
            new AtomicILFactory(
                new BasicMethodConstraints(
                    new InvocationConstraints(
                        new InvocationConstraint[]{
                            Integrity.YES
                            },
                     null)),
                AccessPermission.class,
                org.apache.river.test.impl.start.TestServiceImpl.class
            )
        );

    listenerPreparer = new BasicProxyPreparer(
	new BasicMethodConstraints(new InvocationConstraints(
       	    new InvocationConstraint[]{
		Integrity.YES,
		ClientAuthentication.YES,
		ServerAuthentication.YES,
		new ServerMinPrincipal(tester)},
	    null)),
	new Permission[]{
	    new AuthenticationPermission(Collections.singleton(fiddler),
					 Collections.singleton(tester),
					 "connect")
	});

    /*
     * Values for talking to the lookup service - lots missing
     */
    private static reggieConstraints =
	new BasicMethodConstraints(
	    new InvocationConstraints(
		new InvocationConstraint[] {
		    Integrity.YES,
		    ClientAuthentication.YES,
		    ServerAuthentication.YES,
		    new ServerMinPrincipal(reggie) },
		null));


    /*
     * Values for talking to the activation system
     */
    private static activationSystemConstraints =
	new BasicMethodConstraints(
	    new InvocationConstraints(
		new InvocationConstraint[] {
		    Integrity.YES,
		    ServerAuthentication.YES,
		    new ServerMinPrincipal(phoenix) },
		null));

    activationSystemPreparer = 
	new BasicProxyPreparer(
	    activationSystemConstraints, 
	    new Permission[]{
		new AuthenticationPermission(Collections.singleton(fiddler),
					     Collections.singleton(phoenix),
					     "connect")
	    });
    activationIdPreparer = 
	new BasicProxyPreparer(activationSystemConstraints, null);
}

/* the preparer that a test should use for fiddler's proxy */

preparer {
    proxyPreparer = new BasicProxyPreparer(
	new BasicMethodConstraints(new InvocationConstraints(
       	    new InvocationConstraint[]{
		Integrity.YES,
		ServerAuthentication.YES,
		new ServerMinPrincipal(org.apache.river.testservice.fiddler)},
	    null)),
	new Permission[]{
	    new AuthenticationPermission(
			    Collections.singleton(org.apache.river.testservice.tester),
			    Collections.singleton(org.apache.river.testservice.fiddler),
			    "connect")
	});
}

org.apache.river.start {

    private static activationSystemConstraints =
        new BasicMethodConstraints(
            new InvocationConstraints(
                new InvocationConstraint[] {
                    Integrity.YES,
                    ServerAuthentication.YES,
                    new ServerMinPrincipal(org.apache.river.testservice.phoenix) },
                null));

    activationSystemPreparer =
        new BasicProxyPreparer(
            activationSystemConstraints,
            new Permission[]{
                new AuthenticationPermission(Collections.singleton(org.apache.river.testservice.tester),
                                             Collections.singleton(org.apache.river.testservice.phoenix),
                                             "connect")
            });
 
    activationIDPreparer = activationSystemPreparer;

    private static serviceConstraints = 
	new BasicMethodConstraints(
            new InvocationConstraints(
                new InvocationConstraint[] {
                    Integrity.YES,
		    ClientAuthentication.YES,
                    ServerAuthentication.YES,
                    new ServerMinPrincipal(org.apache.river.testservice.fiddler) },
                null));

    servicePreparer =
        new BasicProxyPreparer(
            serviceConstraints,
            new Permission[]{
                new AuthenticationPermission(Collections.singleton(org.apache.river.testservice.tester),
                                             Collections.singleton(org.apache.river.testservice.fiddler),
                                             "connect")
            });
}


			    

