grant {
    permission java.security.AllPermission "<all permissions>", "<all actions>";
    permission java.io.FilePermission "<<ALL FILES>>", "read";
};

